<script>
  export let letter;

  const source = 'https://www.setgame.com/sites/all/modules/setgame_quiddler/assets/images/new/';
</script>

<div>
  <img src={`${source}${letter}.png`} alt="" />
  <img src={`${source}quiddler_card_back.png`} alt="" />
  <span>${letter} Card</span>
</div>

<style>
  div {
    @apply relative top-0 transform transition-all duration-500 hover: rotate-y-180
           preserve-3d h-47 w-30;
  }
  
  span {
		@apply sr-only;
	}

  img {
    @apply absolute top-0 max-h-full backface-hidden rounded-lg;
  }

  img:first-of-type {
    @apply z-1;
  }

  img:last-of-type {
    @apply transform rotate-y-180 z-2;
  }
</style>
