<script>
	import { createEventDispatcher } from 'svelte';
	import { fade } from 'svelte/transition';
	import { goto } from '$app/navigation';
	import Button from '$lib/components/forms/Button.svelte';
	import Text from '$lib/components/forms/Text.svelte';
	import Range from '$lib/components/forms/Range.svelte';
	import CircleToggle from '$lib/components/forms/CircleToggle.svelte';
	import { TIME, HTTP } from '$lib/constants.js';

	export let hub;

	const dispatch = createEventDispatcher();
	const placeholder = `${localStorage.getItem('quiddler-username')}'s Game`;

	let showPrivate = false,
		toggled = false;

	async function createLobby(event) {
		const data = Object.fromEntries(new FormData(event.target).entries());
		const response = await fetch('quiddler/hub', {
			method: 'POST',
			body: JSON.stringify({
				username: localStorage.getItem('quiddler-username'),
				token: localStorage.getItem('quiddler-token'),
				name: data.name ? data.name : placeholder,
				password: data.password,
				max_players: data.max_players
			})
		});

		if (response.status < HTTP.STATUS_ERROR_THRESHOLD) {
			hub.close();
			goto(`quiddler/${(await response.json()).id}${
				data.password ? `?password=${data.password}` : ''
			}`);
		} else
			dispatch('disconnect', {
				error: 'Invalid credentials!'
			});
	}
</script>

<div transition:fade|local>
	<form on:submit|preventDefault={createLobby}>
		<h2>Create Lobby</h2>

		<p>Leave the password field blank to create a public lobby.</p>

		<Text label="name" {placeholder} srOnly={false} />
		<Text label="password" srOnly={false} />

		<Range label="max_players" min={2} max={8} value={4} />

		<Button type="submit">
			create <span>lobby</span>
		</Button>
	</form>
</div>

<style>
	h2 {
		@apply text-2xl tablet:text-4xl fourK:text-6xl;
	}

	div {
		@apply absolute top-0 left-0 z-50 h-full w-full bg-black/20 flex items-center justify-center;
	}

	:global(.dark) div {
		@apply bg-white/20 flex;
	}

	span {
		@apply sr-only;
	}

	form {
		@apply flex flex-col items-center justify-center p-4 bg-grey rounded text-center;
	}

	:global(.dark) form {
		@apply bg-gray;
	}

	p {
		@apply w-75 my-2 text-base text-left;
	}
</style>
