<script>
	import { goto } from '$app/navigation';
	import Text from '$lib/components/forms/Text.svelte';
	import CircleToggle from '$lib/components/forms/CircleToggle.svelte';
	import CreateLobby from '$lib/components/games/quiddler/CreateLobby.svelte';
	import StatusIndicator from '$lib/components/games/quiddler/icons/StatusIndicator.svelte';
	import People from '$lib/components/games/quiddler/icons/People.svelte';
	import Person from '$lib/components/games/quiddler/icons/Person.svelte';

	export let hub;

	let toggled = false;
</script>

{#if $hub.length}
	<h2>Join a Lobby</h2>

	<nav>
		{#each $hub as lobby (lobby.id)}
			<div>
				<h3>{lobby.name}</h3>
				<StatusIndicator
					status={lobby.active ? 1 : 0}
					active="Game in progress."
					standby="Waiting for players." />
				<div>
					<span>
						There are {lobby.players.length} out of {lobby.max_players} max players
						in this lobby.
					</span>
					{#each Array(parseInt(lobby.max_players)).fill(0) as _, i}
						<Person occupied={lobby.players.length > i} />
					{/each}
				</div>
				<People value={lobby.spectators.length} />
				<form
					on:submit|preventDefault={() =>
						goto(`quiddler/${lobby.id}${
							lobby.private ? '?password=' + lobby.password : ''
						}`)}>
					{#if lobby.private}
						<label for={lobby.name.replaceAll(' ', '_') + '_password'}>
							<span>{lobby.name}</span> Password
						</label>
						<input
							id={lobby.name.replaceAll(' ', '_') + '_password'}
							type="text"
							bind:value={lobby.password} />
					{/if}
				</form>
				<a
					class:disabled={lobby.private && !lobby.password}
					href="quiddler/{lobby.id}{lobby.private
						? '?password=' + lobby.password
						: ''}">Join</a>
			</div>
		{/each}
	</nav>
{:else}
	<h2>No Lobbies Found</h2>
{/if}

<CircleToggle bind:toggled title="Show Create Lobby Form" />

{#if toggled}
	<CreateLobby bind:hub on:disconnect />
{/if}


<style>
	h2 {
		@apply text-center text-3xl tablet:text-4xl laptop:text-5xl fourk:text-6xl;
	}

	h3 {
		@apply text-ellipsis font-bold;
	}

	nav {
		@apply flex flex-wrap justify-center m-4 overflow-y-scroll scrollbar-hidden;
	}

	nav > div {
		@apply grid h-30 w-64 m-4 p-2 border-solid border-1 border-gray bg-smoke gap-y-1;
		grid-template-columns: 11.25rem 3.75rem;
		grid-template-rows: 1.75rem 2.5rem 1.75rem;
	}

	:global(.dark) nav > div {
		@apply bg-soot border-grey;
	}

	form {
		@apply relative top-0;
	}

	div > div:first-of-type {
		@apply grid gap-y-1 grid-cols-5 grid-rows-2 grid-flow-col;
	}

	div > div:first-of-type {
		@apply grid gap-y-1 grid-cols-5 grid-rows-2 grid-flow-col;
	}

	label {
		@apply capitalize absolute left-1 text-xs bg-smoke z-1 leading-1
		       font-extrabold px-1;
	}

	:global(.dark) label {
		@apply bg-soot;
	}

	input {
		@apply max-w-full max-h-full px-2 py-1 border-solid border-0.2em border-gray
					 outline-none hover:outline-none active:outline-none focus:outline-none
           text-gray flex items-center justify-center text-base bg-inherit font-bold;
	}

	:global(.dark) input {
		@apply border-grey text-grey;
	}

	span {
		@apply sr-only;
	}

	a {
		@apply relative t-1 l-1 transform block w-fit px-0.5 text-center rounded border-2
		       border-gray no-underline shadow-clone shadow-gray cursor-pointer
					 transition-all duration-200 -translate-y-1 -translate-x-1 font-bold
					 active:(!shadow-none !translate-y-0 !translate-x-0) mt-auto ml-auto
					 hover:(shadow-clone-sm -translate-y-0.5 -translate-x-0.5) max-h-full
					 leading-6;
	}

	:global(.dark) a {
		@apply border-grey shadow-grey;
	}

	.disabled {
		@apply !shadow-none !translate-y-0 !translate-x-0 bg-gray cursor-not-allowed;
	}

	:global(.dark) .disabled {
		@apply bg-grey;
	}
</style>
