<script>
	import Ban from '$lib/components/games/quiddler/icons/Ban.svelte';
	import Remove from '$lib/components/games/quiddler/icons/Remove.svelte';

	export let username;
	export let kick = false;
	export let ban = false;
	export let unban = false;
</script>

<div class="mt-8 ml-2">
	{#if ban}
		<Ban {username} on:ban />
	{:else}
		<div class="h-5 w-5" />
	{/if}
	{#if kick}
		<Remove action={unban ? 'Unban' : 'Kick'} {username} on:remove />
	{:else}
		<div class="h-7 w-7" />
	{/if}
	<p>{username}</p>
</div>

<style>
	div {
		@apply flex items-center gap-2;
	}

	div :global(div) {
		@apply laptop:opacity-0;
	}

	div:hover :global(div) {
		@apply opacity-100;
	}

	p {
		@apply text-ruby text-ellipsis overflow-hidden;
	}

	:global(.dark) p {
		@apply text-terminal;
	}
</style>
