<script context="module">
	export function load({ error, status }) {
		return {
			props: {
				status,
				error: error.message
			}
		};
	}
</script>

<script>
	import { fade } from 'svelte/transition';
	import Button from '$lib/components/forms/Button.svelte';
	import CTF from '$lib/components/ctf/index.svelte';

	export let status;
	export let error;

	let ctf = 'select';

	function getKey() {
		let path = error.split('/');

		if (path.length == 2) return '';
		return path[path.length - 2];
	}
</script>

<svelte:head>
	<title>UIS | {status}</title>
</svelte:head>

<h1>
	{status}
</h1>

<h2>
	{error}
</h2>

{#if ctf == 'select'}
	<p transition:fade|local>
		You shouldn't be here, but since you are, want to play a game of capture the
		flag?
	</p>
	<div
		class="wrapper"
		transition:fade|local
		on:outroend={() => (ctf = 'playing')}>
		<Button on:click={() => (ctf = 'transition')}>play</Button>
	</div>
{:else if ctf == 'playing'}
	<CTF key={getKey()} />
{/if}

<style>
	h1 {
		@apply uppercase mt-12 text-8xl text-center;
	}

	h2 {
		@apply uppercase break-words mt-2 text-2xl tablet:text-3xl text-center;
	}

	div {
		@apply mx-auto w-58;
	}

	p {
		@apply break-words mx-6 my-12 tablet:text-2xl fourK:text-4xl;
	}
</style>
