<script context="module">
	export async function load({ url }) {
		return {
			props: {
				page: '/' + url.pathname.substring(1)
			}
		};
	}
</script>

<script>
	import 'virtual:windi.css';
	import { theme } from '$lib/client/preferences.js';
	import Console from '$lib/components/console/index.svelte';
	import Header from '$lib/components/Header.svelte';

	export let page;

	$: dark = $theme === 'dark';
</script>

<div class:dark>
	<Console />

	<Header bind:page />

	<main>
		<slot />
	</main>
</div>

<style>
	div {
		@apply h-full bg-grey text-gray font-source overflow-y-scroll scrollbar-hidden;
	}

	.dark {
		@apply bg-gray text-grey;
	}
</style>
