<script>
	import { theme, motion } from '$lib/client/preferences.js';
	import { rings } from '$lib/animations/rings.js';
	import Link from '$lib/components/Link.svelte';

	const speed = 0.015;

	let center;
	let maskRadius = 0,
		circleRadius = 0;
	let invert = $theme !== 'dark';

	function transition() {
		if (!$motion) return theme.toggle();

		let coordinates = center.getBoundingClientRect();
		let x1 = coordinates.y / coordinates.top + coordinates.height / 2;
		let y1 = coordinates.width / 2;
		let dist = Math.sqrt(
			Math.pow(x1 - window.innerHeight, 2) + Math.pow(y1 - window.innerWidth, 2)
		);
		let maxRadius = Math.round(dist) + 1;

		circleRadius += maxRadius * speed;

		if (circleRadius > maxRadius && maskRadius == 0) theme.toggle();

		if (circleRadius > maxRadius) maskRadius += maxRadius * speed;

		if (maskRadius > maxRadius) {
			maskRadius = circleRadius = 0;
			invert = !invert;
		} else setTimeout(transition, 17);
	}
</script>

<svelte:head>
	<title>Uncountably Infinite Space</title>
	<meta name="description" content="Home page of Xevinaly's personal site." />
</svelte:head>

<h1>UNCOUNTABLY INFINITE SPACE</h1>

<div bind:this={center} aria-hidden="true">
	<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
		<circle cx="50" cy="50" r="50" class="point" />
		{#each $rings as ring}
			<circle
				cx={$motion ? ring.cx : 50}
				cy={$motion ? ring.cy : 50}
				r="42"
				class="ring" />
		{/each}
	</svg>
	<svg
		viewBox="0 0 100 100"
		xmlns="http://www.w3.org/2000/svg"
		class="z-1"
		on:click={transition}>
		<mask id="reveal">
			<circle class="fill-white" cx="50" cy="50" r={circleRadius} />
			<circle class="fill-black" cx="50" cy="50" r={maskRadius} />
		</mask>

		<circle
			cx="50"
			cy="50"
			r={circleRadius}
			mask="url(#reveal)"
			class="cover"
			class:invert />
	</svg>
</div>

<p>
	My name is Xevi and I'm a professional web developer that enjoys living on the
	bleeding edge of web technologies.
</p>

<p>
	This site is a collection of projects, ideas, and experiments I used to
	further my experience with web development.
</p>

<p>
	You can contact me either at
	<Link href="mailto:xevinaly@gmail.com">xevinaly@gmail.com</Link> or Xevinaly#6575
	on Discord.
</p>

<style>
	h1 {
		@apply max-w-80 my-4 mx-auto text-5xl mobileL:(text-6xl max-w-100)
					 tabletS:(text-7xl max-w-120) tablet:(text-8xl max-w-160) text-center;
	}

	div {
		@apply relative h-20 mobileL:h-24 tablet:h-30 w-full;
	}

	p {
		@apply break-words mx-6 my-12 tablet:text-2xl fourK:text-4xl;
	}

	svg {
		@apply absolute left-1/2 h-20 w-20 -ml-10 mobileL:(h-24 w-24 -ml-12)
		       tablet:(h-30 w-30 -ml-15) overflow-visible;
	}

	.cover {
		@apply fill-grey;
	}

	.invert {
		@apply fill-gray;
	}

	.point {
		@apply stroke-current fill-current;
	}

	.ring {
		@apply stroke-grey fill-transparent;
	}

	:global(.dark) .ring {
		@apply stroke-gray;
	}
</style>
