<svelte:head>
	<title>Runes and Ruins</title>
	<meta
		name="description"
		content="Runes and Ruins is a solo RPG written by Dark Realm Games. The following is a digital reproduction of the game with some modifications." />
</svelte:head>

<slot />

<style>
  :global(main) {
    @apply h-screen w-screen;
  }
</style>
