<script>
  import { onMount } from 'svelte';
  import { fade } from 'svelte/transition';
  import { theme } from '$lib/client/preferences.js';
  import Button from '$lib/components/games/runes-and-ruins/forms/Button.svelte';

  let intro = true;

  onMount(async () => {
		if (localStorage.getItem('randr-intro'))
      intro = false;
	});
</script>

<div out:fade="{{duration: intro ? 1250 : 0}}">
  <h1>Runes and Ruins</h1>

  <img src="/games/runes-and-ruins/{$theme === 'dark' ? 'dark_' : ''}logo.webp" alt="Two stylized dice" aria-hidden="true" />

  <Button>
    <a href="./runes-and-ruins/{intro ? 'intro' : 'select'}">Venture Forth</a>
  </Button>
</div>

<style>
  div {
    @apply flex flex-col justify-evenly h-full;
  }

	h1 {
		@apply text-5xl mobileL:text-6xl tablet:text-8xl text-center;
	}

  img {
    @apply mx-auto;
  }
</style>
