<script>
  import { onMount } from 'svelte';
  import { fade } from 'svelte/transition';
  import Button from '$lib/components/games/runes-and-ruins/forms/Button.svelte';

  let top = 0, height = 0;

  onMount(async () => {
		height = document.getElementById('intro').offsetHeight - (window.innerHeight / 2);
    localStorage.setItem('randr-intro', 'viewed')
	});

  setTimeout(scroll, 4000);
  $: console.log(height);

  function scroll() {
    if (top < height) {
      top++;
      setTimeout(scroll, 0);
    }
  }
</script>

<div id="intro" style="--top: -{top}px">
  <h1 in:fade="{{delay: 2000, duration: 3000}}">Our story begins…</h1>

  <p>
    beneath the bustling City. There lies the crumbling remnants of the Old Town;
    a subterranean labyrinth of twisting passageways and vast rooms known simply
    as The Ruins. Serving as both catacombs and vault, the dead lie side by side
    with the riches of the Kingdom.
  </p>
  <p>
    It is into this underworld that the Grand Sorcerer fled, pursued by the High
    Council for his abuse of power and eldritch experiments.
  </p>
  <p>
    In an act of desperation, he shattered the Amulet; an arcane relic from which
    he drew the greatest of his powers. Broken into six pieces, each was hidden
    in a separate chest within The Ruins, ensuring that if he were captured, none
    would wield its magic again.
  </p>
  <p>
    To protect these fragments, he carved powerful runestones and used them to
    set deadly traps to thwart any pursuers. Worse yet, he defiled the ancient
    bones of the city's dead, raising them again in a terrible living death;
    destined to wander the twisting halls of their subterranean prison as
    unwitting guardians.
  </p>
  <p>
    Following his escape, the entrance to The Ruins was sealed by the High
    Council, trapping the Sorcerer inside along with the Kingdom’s wealth, such
    was the price they were willing to pay to ensure his internment.
  </p>
  <p>
    Since that time, whispers of a secret entrance have circulated the Taverns
    and alleyways of the City, drawing interest from those seeking adventure and
    the lure of coin. For those brave enough to venture into the depths to face
    whatever horrors lurk within, fortune - and perhaps more - awaits them in
    The Ruins...
  </p>

  <Button>
    <a href="select">Enter the Ruins</a>
  </Button>
</div>

<style>
  :global(main) {
    @apply overflow-hidden;
  }

  div {
    @apply relative pt-1/4 overflow-y-visible;
    top: var(--top);
  }

	h1 {
		@apply -mt-5 text-5xl mobileL:(-mt-6 text-6xl) tablet:(-mt-8 text-8xl) text-center transition;
	}

  p {
    @apply block max-w-250 my-20 mx-auto text-3xl tablet:text-4xl fourK:text-5xl
           text-center;
  }

  p:first-of-type {
    @apply mt-1/4;
  }

  p:last-of-type {
    @apply mb-11/20;
  }
</style>
