<script>
  import { onMount } from 'svelte';
  import { spring } from 'svelte/motion';
  import { fade } from 'svelte/transition';
  import { modulo } from '$lib/util.js';
  import { game } from '$lib/client/games/runes-and-ruins/game.js';
  import { CLASSES } from '$lib/client/games/runes-and-ruins/constants.js';
	import Shard from '$lib/components/games/runes-and-ruins/icons/Shard.svelte';

	const displayed_index = spring();

  let unlocked = 0b1;
  let index = 0;

  $: displayed_index.set(index);
	$: offset = modulo($displayed_index, 1);

  onMount(async () => {
		if (localStorage.getItem('randr-classes'))
      unlocked = parseInt(localStorage.getItem('randr-classes'));
    else
      localStorage.setItem('randr-classes', unlocked)
	});
</script>

<div id="dice">
  {#each $game.dice as die (die.id)}
    <svelte:component this={die.type} id={die.id} />
  {/each}

  <div id="board">

  </div>

  <div id="stats">
    <span><Shard isDie={false} /></span>
  </div>
</div>

<style>
  #dice {
    @apply relative flex perspect-origin-center perspect-2000px h-full w-full;
  }

  #board {
    @apply flex-1 flex flex-col justify-between h-full ml-75 border-l-2;
    border-image: linear-gradient(to bottom, transparent, #303030, transparent) 1;
  }

  :global(.dark) #board, :global(.dark) #stats {
    border-image: linear-gradient(to bottom, transparent, #EEEBE8, transparent) 1;
  }

  #stats {
    @apply relative flex flex-col space-between h-full w-200 border-l-2;
    border-image: linear-gradient(to bottom, transparent, #303030, transparent) 1;
  }

  h1 {
		@apply text-5xl mobileL:text-6xl tablet:text-8xl text-center;
	}

  h2, p {
    @apply block max-w-250 mx-auto text-3xl tablet:text-4xl fourK:text-5xl
           text-center;
  }

  span {
    @apply h-75 w-75;
  }
</style>
