<script>
  import { onMount } from 'svelte';
  import { spring } from 'svelte/motion';
  import { fade } from 'svelte/transition';
  import { modulo } from '$lib/util.js';
  import { CLASSES } from '$lib/client/games/runes-and-ruins/constants.js';
  import Split from '$lib/components/games/runes-and-ruins/Split.svelte';
  import Button from '$lib/components/games/runes-and-ruins/forms/Button.svelte';
  import Down from '$lib/components/games/runes-and-ruins/forms/Down.svelte';
  import Up from '$lib/components/games/runes-and-ruins/forms/Up.svelte';

	const displayed_index = spring();

  let unlocked = 0b1;
  let index = 0;

  $: displayed_index.set(index);
	$: offset = modulo($displayed_index, 1);

  onMount(async () => {
		if (localStorage.getItem('randr-classes'))
      unlocked = parseInt(localStorage.getItem('randr-classes'));
    else
      localStorage.setItem('randr-classes', unlocked)
	});

	function getClass(index) {
    return Object.keys(CLASSES)[modulo(index, Object.keys(CLASSES).length)];
	}
</script>

<div id="selection">
  <Up on:click={() => (index -= 1)} />

  <div style="transform: translate(0, -{33 * offset}%)">
    <p style="opacity: {50 - (50 * offset)}%;">
      {CLASSES[getClass(Math.floor($displayed_index - 1))].name}
    </p>
    <p style="opacity: {100 - (50 * offset)}%;">
      {CLASSES[getClass(Math.floor($displayed_index))].name}
    </p>
    <p style="opacity: {50 + (50 * offset)}%;">
      {CLASSES[getClass(Math.floor($displayed_index + 1))].name}
    </p>
    <p class="absolute w-full" style="bottom: -33%; opacity: {50 * offset}%;">
      {CLASSES[getClass(Math.floor($displayed_index + 2), true)].name}
    </p>
  </div>

  <Down on:click={() => (index += 1)} />
</div>

{#key Math.floor($displayed_index)}
  <div id="information" in:fade|local="{{duration: 1000}}">
    <h1>{CLASSES[getClass(Math.floor($displayed_index))].name}</h1>

    {#if unlocked & CLASSES[getClass(Math.floor($displayed_index))].id}
      <p>{CLASSES[getClass(index)].description}</p>

      <Split>
        <h2 slot="left">Special:</h2>
        <p slot="right">{CLASSES[getClass(Math.floor($displayed_index))].special}</p>
      </Split>
    {:else}
      <h2 id="locked">LOCKED</h2>

      <Split>
        <h2 slot="left">Condition:</h2>
        <p slot="right">
          {#if CLASSES[getClass(Math.floor($displayed_index))].hidden}
            ???
          {:else}
            {CLASSES[getClass(Math.floor($displayed_index))].condition}
          {/if}
        </p>
      </Split>
    {/if}

    <Button disabled={CLASSES[getClass(Math.floor($displayed_index))].hidden}>
      <a href="play">Play</a>
    </Button>
  </div>
{/key}

<style>
  :global(main) {
    @apply flex;
  }

  #selection {
    @apply relative flex flex-col space-between h-full w-150 border-r-2 after:(content-. text-transparent
           absolute w-full h-24 top-1/2 -mt-12 border-t-2 border-b-2);
    border-image: linear-gradient(to bottom, transparent, #303030, transparent) 1;
  }

  :global(.dark) #selection {
    border-image: linear-gradient(to bottom, transparent, #EEEBE8, transparent) 1;
  }

  #selection:after {
    border-image: linear-gradient(to right, transparent, #303030, transparent) 1;
  }

  :global(.dark) #selection:after {
    border-image: linear-gradient(to right, transparent, #EEEBE8, transparent) 1;
  }

  #selection div {
    @apply relative flex flex-col justify-center h-min w-full my-auto;
  }

  #selection p {
    @apply my-12;
  }

  #information {
    @apply flex-1 flex flex-col justify-between h-full p-1/18;
  }

  #locked {
    @apply p-y-8 px-40 text-5xl mobileL:text-6xl tablet:text-7xl text-center font-bold
           border-6;
  }

  h1 {
		@apply text-5xl mobileL:text-6xl tablet:text-8xl text-center;
	}

  h2, p {
    @apply block max-w-250 mx-auto text-3xl tablet:text-4xl fourK:text-5xl
           text-center;
  }
</style>
