<script>
	import WebSocket from 'isomorphic-ws';
	import { onDestroy } from 'svelte';
	import { startWebRTC } from '$lib/client/rtc.js';

	export let game;
	export let url;

	let connection;
	let socket = new WebSocket(url);

	socket.onopen = () => {
		socket.send(
			JSON.stringify({
				method: 'join',
				data: {
					game: game.protocol,
					id: $game.id,
					username: localStorage.getItem(`${game.protocol}-username`),
					token: localStorage.getItem(`${game.protocol}-token`)
				}
			})
		);
	};

	socket.methods = [
		response => {
			const message = JSON.parse(response.data);

			if (message.method == 'join') {
				connection = startWebRTC(socket, message.data.connection);

				const channel = connection.createDataChannel('game', {
					negotiated: true,
					id: 0
				});

				channel.onopen = () => {
					socket.close();

					channel.send(
						JSON.stringify({
							method: 'connect',
							data: {
								username: localStorage.getItem(`${game.protocol}-username`)
							}
						})
					);

					game.play = action => {
						channel.send(JSON.stringify(action));
					};
				};

				channel.onclose = () => {
					if ($game)
						game.set(null);
				};

				channel.onmessage = game.handle;
			}
		}
	];

	socket.onmessage = response => {
		socket.methods.forEach(method => method(response));
	};

	onDestroy(() => {
		if (socket) socket.close();
		if (connection) connection.close();
	});
</script>

<slot />
