<script>
	import WebSocket from 'isomorphic-ws';
	import { onDestroy } from 'svelte';
	import { startWebRTC } from '$lib/client/rtc.js';

	export let game;
	export let engine;
	export let url;

	const socket = new WebSocket(url);

	let heartbeat, connection;
	let connections = 0;

	engine.handle({
		method: 'reset'
	});

	game.play = engine.handle;

	socket.onopen = () => {
		socket.send(
			JSON.stringify({
				method: 'host',
				data: {
					game: game.protocol,
					id: $game.id,
					username: localStorage.getItem(`${game.protocol}-username`),
					token: localStorage.getItem(`${game.protocol}-token`)
				}
			})
		);
	};

	socket.methods = [
		async response => {
			const message = JSON.parse(response.data);

			if (message.method == 'offer') {
				try {
					connection = startWebRTC(socket, message.data.connection);

					await connection.setRemoteDescription(message.data.description);

					const answer = await connection.createAnswer();

					await connection.setLocalDescription(answer);

					socket.send(
						JSON.stringify({
							method: 'answer',
							data: {
								connection: message.data.connection,
								description: answer
							}
						})
					);

					const channel = connection.createDataChannel('game', {
						negotiated: true,
						id: 0
					});

					channel.onclose = () => {
						engine.handle(
							{
								method: 'disconnect',
								data: {}
							},
							channel
						);
					};

					channel.onmessage = ({ data }) => {
						engine.handle(JSON.parse(data), channel);
					};
				} catch (err) {
					console.log('Answer Error:\n' + err);
				}
			}
		}
	];

	socket.onmessage = response => {
		socket.methods.forEach(method => method(response));
	};

	socket.onclose = () => {
		clearInterval(heartbeat);
	};

	heartbeat = setInterval(() => {
		socket.send('Heartbeat');
	}, 20000);

	onDestroy(() => {
		if (socket) socket.close();
		if (connection) connection.close();
	});
</script>

<slot />
