<script>
	export let output;
	export let input;

	let password;

	$: if (!output.length)
		output = [
			{
				id: 1,
				text: 'Input Password:',
				input: false
			},
			{
				id: 2,
				text: '',
				input: true
			}
		];

	$: if (input) {
		if (input == password.innerText)
			output = [
				...output,
				{
					id: output.length + 1,
					text: 'Correct!',
					input: false
				},
				{
					id: output.length + 2,
					text: 'You have solved this CTF. If you want to play more, visit other error pages.',
					input: false
				}
			];
		else
			output = [
				...output,
				{
					id: output.length + 1,
					text: 'Incorrect!',
					input: false
				},
				{
					id: output.length + 2,
					text: 'Input Password:',
					input: false
				},
				{
					id: output.length + 3,
					text: '',
					input: true
				}
			];

		input = '';
	}
</script>

<p id="password" class="sr-only" bind:this={password}>The Great High Priest</p>
