<script>
  export let disabled = false;
</script>

<button class:disabled on:click>
  <span />

	<slot />

  <span />
</button>

<style>
  button {
    @apply block  mx-auto text-2xl tablet:text-5xl fourK:text-6xl;
  }

  button.disabled {
    @apply pointer-events-none cursor-not-allowed opacity-50;
  }

  span {
    @apply relative inline-block border-r-6 border-b-6 w-10 h-10 transform
           -rotate-45 -translate-x-2 duration-75
           before:(content-. text-transparent absolute top-1.75 right-1.75 border-gray
                  border-r-3 border-b-3 w-5 h-5)
           after:(content-. text-transparent absolute top-1.5 right-2 border-gray
                  border-r-3 border-b-3 w-5 h-5 transform rotate-180 translate-x-2
                  translate-y-2);
  }

  :global(.dark) span {
    @apply before:border-grey after:border-grey;
  }

  span:nth-of-type(2) {
    @apply rotate-135 translate-x-2;
  }

  button:hover span {
    @apply translate-x-0;
  }

  button:active span {
    @apply translate-x-2 border-terminal duration-0 before:border-terminal after:border-terminal;
  }

  :global(.dark) button:active span {
    @apply border-ruby before:border-ruby after:border-ruby;
  }

  button:active span:nth-of-type(2) {
    @apply -translate-x-2;
  }
</style>
