<button on:click>
  <span />
</button>

<style>
  button {
    @apply mb-20;
  }

  button.disabled {
    @apply pointer-events-none cursor-not-allowed opacity-50;
  }

  span {
    @apply relative inline-block border-r-6 border-b-6 w-10 h-10 transform
           rotate-45 -translate-y-2 duration-75
           before:(content-. text-transparent absolute top-1.75 right-1.75 border-gray
                  border-r-3 border-b-3 w-5 h-5)
           after:(content-. text-transparent absolute top-1.5 right-2 border-gray
                  border-r-3 border-b-3 w-5 h-5 transform rotate-180 translate-x-2
                  translate-y-2);
  }

  :global(.dark) span {
    @apply before:border-grey after:border-grey;
  }

  button:hover span {
    @apply translate-y-0;
  }

  button:active span {
    @apply translate-y-2 border-terminal duration-0 before:border-terminal after:border-terminal;
  }

  :global(.dark) button:active span {
    @apply border-ruby before:border-ruby after:border-ruby;
  }
</style>
