<script context="module">
	export async function load({ url }) {
		return {
			props: {
				session: parseInt(url.searchParams.get('session-id'))
			}
		};
	}
</script>

<script>
	import Button from '$lib/components/forms/Button.svelte';
	export let session;
</script>

<h1>Wildcard Slugs</h1>

<p>
	SvelteKit's router allows for the use of slug parameters to pass information
	to a page. These allow for a Calender Trap but wont form an Expanding URL trap
	on their own. The real problem is the wildcard slugs which are created using a
	spread operator. The path to this page is:
</p>

<code>../repeat/[...repeat].svelte</code>

<p>This means that any of the following paths will link to this page:</p>

<code>
	/repeat <br />
	/repeat/repeat <br />
	/repeat/repeat/repeat <br />
	/repeat/something/else <br />
</code>

<p>
	This means that if a malformed relative link accidently appends repeat to the
	URL each time its visited, it will appear to be a new page, creating an
	Expanding URL trap. Since SvelteKit error pages apply to any route longer than
	its containing route, malformed relative links to nonexistant pages will also
	create this effect.
</p>

<a role="button" href="repeat/repeat{session ? `?session-id=${session}` : ''}"
	>Try it out!</a>
