<script context="module">
	import { HTTP } from '$lib/constants.js';

	export async function load({ url, params, fetch }) {
		const response = await fetch(
			`${url.href}${
				url.searchParams.has('password') ? `/${url.searchParams.get('password')}` : ''
			}/lobby`
		);

		if (response.status < HTTP.STATUS_ERROR_THRESHOLD)
			return {
				props: {
					data: (await response.json()).game,
					url:
						url.host == 'localhost:3000'
							? 'ws://localhost:8181'
							: 'wss://' + url.hostname + '/websocket/rtc'
				}
			};
		else if (response.status == HTTP.FORBIDDEN)
			return {
				props: {
					data: {},
					url: ''
				}
			};
		return {
			status: HTTP.NOT_FOUND,
			error: new Error('Game does not exist')
		};
	}
</script>

<script>
	import { onMount, onDestroy } from 'svelte';
	import { goto } from '$app/navigation';
	import { game } from '$lib/client/games/quiddler/game.js';
	import { engine } from '$lib/client/games/quiddler/engine.js';
	import Loading from '$lib/components/Loading.svelte';
	import Link from '$lib/components/Link.svelte';
	import Client from '$lib/components/rtc/Client.svelte';
	import Host from '$lib/components/rtc/Host.svelte';
	import { TIME } from '$lib/constants.js';

	export let data;
	export let url;

	let username;
	let heartbeat;
	let unsubscribe;
	let loading = true;

	onMount(async () => {
		if (
			Date.now() - localStorage.getItem('quiddler-expire') <
			TIME.TEN_MINUTES
		) {
			heartbeat = setInterval(keepAlive, TIME.ONE_MINUTE);
			username = localStorage.getItem('quiddler-username');
			loading = false;
			unsubscribe = game.subscribe(game => (engine.game = game));

			game.initialize(data);

			engine.update = game.handle;
			engine.hub = `/games/quiddler/${$game.id}/lobby`;
			engine.authorization = {
				username,
				token: localStorage.getItem('quiddler-token')
			};

			keepAlive();
		} else disconnect();
	});

	async function keepAlive() {
		let response = await fetch('./account', {
			method: 'PUT',
			body: JSON.stringify({
				username: localStorage.getItem('quiddler-username'),
				token: localStorage.getItem('quiddler-token')
			})
		});

		if (response.status >= HTTP.STATUS_ERROR_THRESHOLD) disconnect();
		else localStorage.setItem('quiddler-expire', Date.now());
	}

	function disconnect() {
		localStorage.setItem('quiddler-expire', 0);
		goto('/games/quiddler');
	}

	onDestroy(() => {
		if (unsubscribe) unsubscribe();
		if (heartbeat) clearInterval(heartbeat);
	});
</script>

{#if loading}
	<div>
		<Loading />
	</div>
{:else if $game}
	{#if url}
		{#if !$game.banned.includes(username)}
			{#if $game.owner == username}
				<Host {game} {engine} bind:url>
					<slot />
				</Host>
			{:else}
				<Client {game} bind:url>
					<slot />
				</Client>
			{/if}
		{:else}
			<p>
				You have been banned by the owner of this game and are unable to join.
			</p>
			<p>
				<Link href="./">Return to Hub</Link>
			</p>
		{/if}
	{:else}
		<p>Incorect password.</p>
		<p>
			<Link href="./">Return to Hub</Link>
		</p>
	{/if}
{:else}
	{#if $game === null}
		<p>Connection to host lost.</p>
	{:else}
		<p>Lobby has been closed.</p>
	{/if}
	<p>
		<Link href="./">Return to Hub</Link>
	</p>
{/if}

<style>
	div {
		@apply flex justify-center items-center h-full p-12;
	}

	p {
		@apply p-9 pb-0;
	}

	p + p {
		@apply pt-6;
	}
</style>
