<script>
	import { onMount } from 'svelte';
	import { game } from '$lib/client/games/quiddler/game.js';
	import Chat from '$lib/components/Chat.svelte';
	import Button from '$lib/components/forms/Button.svelte';
	import Game from '$lib/components/games/quiddler/Game.svelte';
	import User from '$lib/components/games/quiddler/User.svelte';

	let username;
	let owner;

	onMount(async () => {
		username = localStorage.getItem('quiddler-username');
		owner = $game.owner == username;
	});
</script>

{#if $game.active}
	<Game />

	{#if owner}
		<Button
			on:click={() =>
				game.play({
					method: 'end_game'
				})}>
			end game
		</Button>
	{/if}
{:else}
	{#if owner}
		<Button
			on:click={() =>
				game.play({
					method: 'close'
				})}>
			close lobby
		</Button>

		{#if $game.players.length > 1}
			<Button
				on:click={() =>
					game.play({
						method: 'start_game'
					})}>
				start game
			</Button>
		{/if}
	{:else if $game.players?.includes(username)}
		<Button
			on:click={() =>
				game.play({
					method: 'remove_player',
					data: {
						username
					}
				})}>
			leave game
		</Button>
	{:else if $game.max_players <= $game.players.length}
		<p>All player slots are full. You can still spectate the game though.</p>
	{:else}
		<Button
			on:click={() =>
				game.play({
					method: 'add_player',
					data: {
						username
					}
				})}>
			join game
		</Button>
	{/if}

	<h2>Players</h2>
	{#each $game.players as player}
		<User
			username={player}
			kick={owner && player != $game.owner}
			ban={owner && player != $game.owner}
			on:ban={() =>
				game.play({
					method: 'ban_user',
					data: {
						username: player
					}
				})}
			on:remove={() =>
				game.play({
					method: 'remove_player',
					data: {
						username: player
					}
				})} />
	{/each}

	{#if $game.spectators.length}
		<h2>Spectators</h2>
		{#each $game.spectators as spectator}
			<User
				username={spectator}
				ban={owner}
				on:ban={() =>
					game.play({
						method: 'ban_user',
						data: {
							username: spectator
						}
					})} />
		{/each}
	{/if}

	{#if $game.owner == username && $game.banned.length}
		<h2>Banned Users</h2>
		{#each $game.banned as user}
			<User
				username={user}
				unban
				kick
				on:remove={() =>
					game.play({
						method: 'unban_user',
						data: {
							username: user
						}
					})} />
		{/each}
	{/if}
{/if}

<Chat
	chat={$game.chat}
	{username}
	on:chat={event =>
		game.play({
			method: 'message',
			data: {
				author: username,
				message: event.detail.message
			}
		})}
	on:view={event =>
		game.update(n => {
			n.chat.open = event.detail.open;
			n.chat.viewed = true;
			return n;
		})} />

<style>
	h2 {
		@apply pt-8 text-4xl;
	}

	p {
		@apply text-ruby mt-8;
	}

	:global(.dark) p {
		@apply text-terminal;
	}
</style>
