<script>
	export let type = 'button';
</script>

<button {type} on:click>
	<slot />
</button>

<style>
	button {
		@apply transform relative w-50 my-3 mx-4 px-4 py-3 border-solid border-0.2em
					 border-gray outline-none hover:outline-none active:outline-none font-bold
					 focus:outline-none shadow-clone shadow-gray active:shadow-none bg-gray
					 text-base text-grey hover:(bg-grey text-gray) focus:(bg-grey text-gray)
					 transition-all duration-200 cursor-pointer -translate-y-1 -translate-x-1
					 active:(translate-y-0 translate-x-0) text-xl tablet:text-2xl;
	}

	:global(.dark) button {
		@apply border-grey shadow-grey bg-grey text-gray hover:(bg-gray text-grey)
		       focus:(bg-gray text-grey);
	}
</style>
