<script>
	export let toggled = false;
	export let title = '';
</script>

<button on:click={() => (toggled = !toggled)}>
	<span>{title}</span>

	<svg
		viewBox="0 0 100 100"
		xmlns="http://www.w3.org/2000/svg"
		class:toggled
		aria-hidden="true">
		<line x1="50" y1="25" x2="50" y2="75" stroke-linecap="round" />
		<line x1="25" y1="50" x2="75" y2="50" stroke-linecap="round" />
	</svg>
</button>

<style>
	span {
		@apply sr-only;
	}

	button {
		@apply h-14 w-14 laptop:(h-20 w-20) bg-gray rounded-full overflow-hidden absolute
           z-100 bottom-4 right-4 focus:outline-1;
	}

	:global(.dark) button {
		@apply bg-grey;
	}

	svg {
		@apply transform transition-all duration-200;
	}

	line {
		@apply stroke-grey stroke-8;
	}

	:global(.dark) line {
		@apply stroke-gray;
	}

	.toggled {
		@apply rotate-45;
	}
</style>
