<script>
	export let value;
	export let label;
	export let min;
	export let max;
	export let srOnly = false;
</script>

<div>
	<label class={srOnly ? 'sr-only' : ''} for={label}>
		{value + ' ' + label.replace('_', ' ')}
	</label>
	<input id={label} type="range" name={label} {min} {max} bind:value />
</div>

<style>
	div {
		@apply flex flex-col inline-block w-75;
	}

	label {
		@apply w-75 capitalize font-extrabold text-right;
	}

	:global(.dark) label {
		@apply bg-gray;
	}

	input {
		@apply appearance-none w-75 rounded-full bg-gray overflow-hidden;
	}

	input::-webkit-slider-thumb {
		@apply appearance-none w-4 h-4 bg-grey cursor-pointer rounded-full shadow-meter
           shadow-ruby;
	}

	:global(.dark) input {
		@apply border-grey bg-grey text-grey;
	}

	:global(.dark) input::-webkit-slider-thumb {
		@apply bg-gray shadow-terminal;
	}
</style>
