<script>
	export let value = '';
	export let label;
	export let placeholder = '';
	export let srOnly = true;
</script>

<div>
	<label class={srOnly ? 'sr-only' : ''} for={label}>
		{label.replace('-', ' ')}
	</label>
	<input
		id={label}
		type="text"
		name={label}
		autocomplete={label}
		{placeholder}
		bind:value />
</div>

<style>
	div {
		@apply relative inline-block top-0  my-3 mx-2;
	}

	label {
		@apply capitalize absolute -top-2 left-3 text-sm bg-grey z-1 font-extrabold px-1;
	}

	:global(.dark) label {
		@apply bg-gray;
	}

	input {
		@apply max-w-full w-75 px-4 py-3 border-solid border-0.2em border-gray outline-none
           hover:outline-none active:outline-none focus:outline-none bg-grey text-base
           text-gray flex items-center justify-center tablet:text-xl fourK:text-3xl
					 font-bold;
	}

	input::placeholder {
		@apply text-inherit;
	}

	:global(.dark) input {
		@apply border-grey bg-gray text-grey;
	}
</style>
