<script context="module">
	export async function load({ url, params, fetch }) {
    console.log(url)
    const response = await fetch(`${url.origin}/recipes.json`);
    const recipes = await response.json();

    if (recipes[params.recipe])
  		return {
  			props: {
  				recipe: recipes[params.recipe]
  			}
  		};
    return {
      status: 404,
      error: 'Page not found'
    }
	}
</script>

<script>
  export let recipe;
</script>

<article>
  <h1>{recipe.title}</h1>

  <div>
    <span><b>Prep Time:</b> {recipe.prep}</span>
    <span><b>Cook Time:</b> {recipe.cook}</span>
  </div>

  <hr />

  {#each recipe.intro as paragraph}
    <p>{paragraph}</p>
  {/each}

  <h2>EQUIPMENT</h2>

  <div>
    {#each recipe.equipment as tool}
      <span>{tool}</span>
    {/each}
  </div>

  <h2>INGREDIENTS</h2>

  {#each recipe.ingredients as dish}
    <h3>{dish.name}</h3>

    <ul>
      {#each dish.ingredients as ingredient}
        <li>{ingredient}</li>
      {/each}
    </ul>
  {/each}

  <h2>INSTRUCTIONS</h2>

  {#each recipe.intructions as dish}
    <h3>{dish.name}</h3>

    <ol>
      {#each dish.steps as step}
        <li>{step}</li>
      {/each}
    </ol>
  {/each}

  <hr />

  {#each recipe.outro as paragraph}
    <p>{paragraph}</p>
  {/each}
</article>

<style>
  article {
    @apply max-w-200 mx-auto my-0 px-4 pb-6;
  }

  h1 {
    @apply my-8 p-12 border-6 text-3xl text-center uppercase font-bold;
  }

  h2 {
    @apply my-4 py-1 border-t-1 border-b-1 text-xl;
  }

  h3 {
    @apply text-lg my-4 font-bold;
  }

  div {
    @apply flex flex-wrap justify-between;
  }

  ol {
    @apply ml-12 list-decimal marker:font-bold;
  }

  ul {
    @apply ml-12 list-disc;
  }

  li {
    @apply list-item my-2;
  }

  p {
    @apply my-2;
  }

  hr {
    @apply mt-2;
  }
</style>
