<script>
	import Link from '$lib/components/Link.svelte';
</script>

<h1>Lost Recipes</h1>
<h2>Meals Made by Those Who Left</h2>

<p>
  Over the years I have gone through a considerable number of roommates. Some
  left a deep lasting impression on me, some were no more than a person I shared
  a space with. Most I no longer speak too or ended on bad terms with. Even so,
  the meals they made and shared with me remain. Either here in full, or as a
  memory of what once was. I hope that by documenting these lost meals I can
  gain some closure for the loss of these roommates and preserve the memory of
  the good time, if any we had together. Each of these is a recipe they learned
  from someone else or made themself. A piece of them left with me.
</p>

<h3>Emily</h3>

<h3>Robin</h3>

<h3>March</h3>

<ul>
  <li><Link href="/recipes/steak-sandwich">Steak Sandwiches</Link></li>
  <li><Link href="/recipes/lettuce-stir-fry">Stir Fried Lettuce</Link></li>
  <li>Avocado Toast</li>
  <li>Potatoe Pancakes</li>
</ul>

<h3>Timber</h3>

<h3>Kurtis</h3>

<h3>Tommy</h3>

<ul>
  <li>Spagetti Squash</li>
</ul>

<h3>Teal</h3>

<h3>Vik</h3>

<ul>
  <li><Link href="/recipes/balsamic-chicken-rice">Balsamic Chicken and Rice</Link></li>
  <li><Link href="/recipes/depression-pasta">Depression Pasta</Link></li>
  <li><Link href="/recipes/creamy-pasta">One Pot Creamy Pasta</Link></li>
  <li><Link href="/recipes/pesto-chicken-pasta">Pesto Chicken and Pasta</Link></li>
  <li><Link href="/recipes/baked-brocoli">Baked Broccoli</Link></li>
</ul>

<h3>Joy</h3>

<ul>
  <li>Seasame Chicken Casserole</li>
</ul>

<br />

<style>
  h1 {
    @apply px-12 pt-6 text-3xl text-center font-bold;
  }

  h2 {
    @apply my-4 py-1 text-center text-xl font-bold;
  }

  h3 {
    @apply m-4 text-lg font-bold;
  }

  ul {
    @apply ml-12 list-disc;
  }

  li {
    @apply list-item my-2;
  }

  p {
    @apply my-2 mx-4;
  }
</style>
