<script context="module">
	export async function load({ url }) {
		return {
			props: {
				home: url.pathname == '/how-to-make-a-spider-trap-with-sveltekit',
				session: parseInt(url.searchParams.get('session-id'))
			}
		};
	}
</script>

<script>
	import Link from '$lib/components/Link.svelte';

	export let home;
	export let session;
</script>

<svelte:head>
	<title>UIS | Spider Trap</title>
	<meta
		name="description"
		content="Blog post describing how to code a spider trap
	                                  using the SvelteKit framework." />
</svelte:head>

{#if !home}
	<Link
		href="/how-to-make-a-spider-trap-with-sveltekit{session
			? `?session-id=${session}`
			: ''}">{'<- Home'}</Link>
{/if}

<slot />

<style>
	:global(main h1) {
		@apply font-bold text-3xl mobileL:text-4xl tablet:text-5xl laptop:text-6xl
		       fourK:text-8xl mb-16 text-center;
	}

	:global(main h2) {
		@apply font-bold text-xl mobileL:text-2xl tablet:text-3xl laptop:text-4xl
		       fourK:text-6xl my-16;
	}

	:global(main code) {
		@apply bg-white text-black p-2 rounded-xl block break-all;
	}

	:global(.dark code) {
		@apply bg-black text-white;
	}

	:global(main p, main code, main a) {
		@apply text-xl mobileL:text-2xl fourK:text-4xl mb-4 fourK:mb-8;
	}

	:global(a[role='button']) {
		@apply transform block w-fit mt-8 mx-auto p-4 text-center rounded border-2
		       border-gray no-underline shadow-clone shadow-gray cursor-pointer
					 transition-all duration-200 -translate-y-1 -translate-x-1
					 active:(!shadow-none !translate-y-0 !translate-x-0)
					 hover:(shadow-clone-sm -translate-y-0.5 -translate-x-0.5);
	}

	:global(.dark a[role='button']) {
		@apply border-grey shadow-grey;
	}
</style>
