<script context="module">
	export async function load({ url }) {
		return {
			props: {
				session: parseInt(url.searchParams.get('session-id')),
				color: url.searchParams.get('color'),
				desert: url.searchParams.get('desert'),
				pet: url.searchParams.get('pet'),
				clothes: url.searchParams.get('clothes')
			}
		};
	}
</script>

<script>
	export let session;
	export let color;
	export let desert;
	export let pet;
	export let clothes;

	$: url = `/how-to-make-a-spider-trap-with-sveltekit/mix-and-match${
		session ? `?session-id=${session}` : ''
	}`;
</script>

<h1>Query Parameters</h1>

<p>
	The easier way to implement a Mix & Match trap is by using query parameters.
	To do this, we create several groupings of links that represent options. When
	clicked, they preserve the current parameters, and change the one related to
	the link. This creates an near endless buffet of links. You could also use URL
	slugs to achieve the same effect, like with the Calender trap. To achieve this
	we import a number of query parameters using the following code:
</p>

<pre><code>{``}</code></pre>

<p>
	Then we give each link conditional code for adding in the extracted query
	parameters:
</p>

<code>{``}</code>

<p>
	Where [Previous Parameters] checks if any of the previous parameters are
	present. Which leaves us with the following links:
</p>

<nav>
	<div>
		<h2>Colors</h2>

		<a
			role="button"
			href="{url}{session ? '&' : '?'}color=red{desert
				? `${session || color ? '&' : '?'}desert=${desert}`
				: ''}{pet
				? `${session || color || desert ? '&' : '?'}pet=${pet}`
				: ''}{clothes
				? `${session || color || desert || pet ? '&' : '?'}clothes=${clothes}`
				: ''}">Red</a>
		<a
			role="button"
			href="{url}{session ? '&' : '?'}color=blue{desert
				? `${session || color ? '&' : '?'}desert=${desert}`
				: ''}{pet
				? `${session || color || desert ? '&' : '?'}pet=${pet}`
				: ''}{clothes
				? `${session || color || desert || pet ? '&' : '?'}clothes=${clothes}`
				: ''}">Blue</a>
		<a
			role="button"
			href="{url}{session ? '&' : '?'}color=yellow{desert
				? `${session || color ? '&' : '?'}desert=${desert}`
				: ''}{pet
				? `${session || color || desert ? '&' : '?'}pet=${pet}`
				: ''}{clothes
				? `${session || color || desert || pet ? '&' : '?'}clothes=${clothes}`
				: ''}">Yellow</a>
		<a
			role="button"
			href="{url}{session ? '&' : '?'}color=green{desert
				? `${session || color ? '&' : '?'}desert=${desert}`
				: ''}{pet
				? `${session || color || desert ? '&' : '?'}pet=${pet}`
				: ''}{clothes
				? `${session || color || desert || pet ? '&' : '?'}clothes=${clothes}`
				: ''}">Green</a>
		<a
			role="button"
			href="{url}{session ? '&' : '?'}color=orange{desert
				? `${session || color ? '&' : '?'}desert=${desert}`
				: ''}{pet
				? `${session || color || desert ? '&' : '?'}pet=${pet}`
				: ''}{clothes
				? `${session || color || desert || pet ? '&' : '?'}clothes=${clothes}`
				: ''}">Orange</a>
		<a
			role="button"
			href="{url}{session ? '&' : '?'}color=purple{desert
				? `${session || color ? '&' : '?'}desert=${desert}`
				: ''}{pet
				? `${session || color || desert ? '&' : '?'}pet=${pet}`
				: ''}{clothes
				? `${session || color || desert || pet ? '&' : '?'}clothes=${clothes}`
				: ''}">Purple</a>
	</div>

	<div>
		<h2>Deserts</h2>

		<a
			role="button"
			href="{url}{color
				? `${session ? '&' : '?'}color=${color}`
				: ''}{session || color ? '&' : '?'}desert=cake{pet
				? `${session || color || desert ? '&' : '?'}pet=${pet}`
				: ''}{clothes
				? `${session || color || desert || pet ? '&' : '?'}clothes=${clothes}`
				: ''}">Cake</a>
		<a
			role="button"
			href="{url}{color
				? `${session ? '&' : '?'}color=${color}`
				: ''}{session || color ? '&' : '?'}desert=cookies{pet
				? `${session || color || desert ? '&' : '?'}pet=${pet}`
				: ''}{clothes
				? `${session || color || desert || pet ? '&' : '?'}clothes=${clothes}`
				: ''}">Cookies</a>
		<a
			role="button"
			href="{url}{color
				? `${session ? '&' : '?'}color=}${color}`
				: ''}{session || color ? '&' : '?'}desert=gelato{pet
				? `${session || color || desert ? '&' : '?'}pet=${pet}`
				: ''}{clothes
				? `${session || color || desert || pet ? '&' : '?'}clothes=${clothes}`
				: ''}">Gelato</a>
		<a
			role="button"
			href="{url}{color
				? `${session ? '&' : '?'}color=${color}`
				: ''}{session || color ? '&' : '?'}desert=brownies{pet
				? `${session || color || desert ? '&' : '?'}pet=${pet}`
				: ''}{clothes
				? `${session || color || desert || pet ? '&' : '?'}clothes=${clothes}`
				: ''}">Brownies</a>
		<a
			role="button"
			href="{url}{color
				? `${session ? '&' : '?'}color=${color}`
				: ''}{session || color ? '&' : '?'}desert=flan{pet
				? `${session || color || desert ? '&' : '?'}pet=${pet}`
				: ''}{clothes
				? `${session || color || desert || pet ? '&' : '?'}clothes=${clothes}`
				: ''}">Flan</a>
		<a
			role="button"
			href="{url}{color
				? `${session ? '&' : '?'}color=${color}`
				: ''}{session || color ? '&' : '?'}desert=fudge{pet
				? `${session || color || desert ? '&' : '?'}pet=${pet}`
				: ''}{clothes
				? `${session || color || desert || pet ? '&' : '?'}clothes=${clothes}`
				: ''}">Fudge</a>
	</div>

	<div>
		<h2>Pets</h2>

		<a
			role="button"
			href="{url}{color ? `${session ? '&' : '?'}color=${color}` : ''}{desert
				? `${session || color ? '&' : '?'}desert=${desert}`
				: ''}{session || color || desert ? '&' : '?'}pet=turtle{clothes
				? `${session || color || desert || pet ? '&' : '?'}clothes=${clothes}`
				: ''}">Turtle</a>
		<a
			role="button"
			href="{url}{color ? `${session ? '&' : '?'}color=${color}` : ''}{desert
				? `${session || color ? '&' : '?'}desert=${desert}`
				: ''}{session || color || desert ? '&' : '?'}pet=cat{clothes
				? `${session || color || desert || pet ? '&' : '?'}clothes=${clothes}`
				: ''}">Cat</a>
		<a
			role="button"
			href="{url}{color ? `${session ? '&' : '?'}color=${color}` : ''}{desert
				? `${session || color ? '&' : '?'}desert=${desert}`
				: ''}{session || color || desert ? '&' : '?'}pet=dog{clothes
				? `${session || color || desert || pet ? '&' : '?'}clothes=${clothes}`
				: ''}">Dog</a>
		<a
			role="button"
			href="{url}{color ? `${session ? '&' : '?'}color=${color}` : ''}{desert
				? `${session || color ? '&' : '?'}desert=${desert}`
				: ''}{session || color || desert ? '&' : '?'}pet=rat{clothes
				? `${session || color || desert || pet ? '&' : '?'}clothes=${clothes}`
				: ''}">Rat</a>
		<a
			role="button"
			href="{url}{color ? `${session ? '&' : '?'}color=${color}` : ''}{desert
				? `${session || color ? '&' : '?'}desert=${desert}`
				: ''}{session || color || desert ? '&' : '?'}pet=bird{clothes
				? `${session || color || desert || pet ? '&' : '?'}clothes=${clothes}`
				: ''}">Bird</a>
		<a
			role="button"
			href="{url}{color ? `${session ? '&' : '?'}color=${color}` : ''}{desert
				? `${session || color ? '&' : '?'}desert=${desert}`
				: ''}{session || color || desert ? '&' : '?'}pet=lizard{clothes
				? `${session || color || desert || pet ? '&' : '?'}clothes=${clothes}`
				: ''}">Lizard</a>
	</div>

	<div>
		<h2>Clothes</h2>

		<a
			role="button"
			href="{url}{color ? `${session ? '&' : '?'}color=${color}` : ''}{desert
				? `${session || color ? '&' : '?'}desert=${desert}`
				: ''}{pet
				? `${session || color || desert ? '&' : '?'}pet=${pet}`
				: ''}{session || color || desert || pet ? '&' : '?'}clothes=shirt"
			>Shirt</a>
		<a
			role="button"
			href="{url}{color ? `${session ? '&' : '?'}color=${color}` : ''}{desert
				? `${session || color ? '&' : '?'}desert=${desert}`
				: ''}{pet
				? `${session || color || desert ? '&' : '?'}pet=${pet}`
				: ''}{session || color || desert || pet ? '&' : '?'}clothes=hat">Hat</a>
		<a
			role="button"
			href="{url}{color ? `${session ? '&' : '?'}color=${color}` : ''}{desert
				? `${session || color ? '&' : '?'}desert=${desert}`
				: ''}{pet
				? `${session || color || desert ? '&' : '?'}pet=${pet}`
				: ''}{session || color || desert || pet ? '&' : '?'}clothes=pants"
			>Pants</a>
		<a
			role="button"
			href="{url}{color ? `${session ? '&' : '?'}color=${color}` : ''}{desert
				? `${session || color ? '&' : '?'}desert=${desert}`
				: ''}{pet
				? `${session || color || desert ? '&' : '?'}pet=${pet}`
				: ''}{session || color || desert || pet ? '&' : '?'}clothes=socks"
			>Socks</a>
		<a
			role="button"
			href="{url}{color ? `${session ? '&' : '?'}color=${color}` : ''}{desert
				? `${session || color ? '&' : '?'}desert=${desert}`
				: ''}{pet
				? `${session || color || desert ? '&' : '?'}pet=${pet}`
				: ''}{session || color || desert || pet ? '&' : '?'}clothes=shorts"
			>Shorts</a>
		<a
			role="button"
			href="{url}{color ? `${session ? '&' : '?'}color=${color}` : ''}{desert
				? `${session || color ? '&' : '?'}desert=${desert}`
				: ''}{pet
				? `${session || color || desert ? '&' : '?'}pet=${pet}`
				: ''}{session || color || desert || pet ? '&' : '?'}clothes=bra">Bra</a>
	</div>
</nav>

<style>
	nav {
		@apply flex justify-around flex-wrap;
	}

	h2 {
		@apply text-center;
	}

	a[role='button'] {
		@apply w-50;
	}
</style>
