<script context="module">
	export async function load({ url }) {
		return {
			props: {
				session: parseInt(url.searchParams.get('session-id'))
			}
		};
	}
</script>

<script>
	export let session;
</script>

<h1>Global Query Parameter</h1>

<p>
	It took a surprising amount of work to get the Session ID trap working.
	Creating a Session ID in SvelteKit on accident would be tough. Doing so
	required adding the following code on every page:
</p>

<pre><code>{``}
</code></pre>

<p>
	This code grabs the query parameters for the page and passes them to each of
	the articles in this tutorial. Its a clunky solution that requires adding
	boilerplate to every page. In addition, every link in the tutorial needs the
	following code in order to preserve the session ID.
</p>

<code>
	{``}
</code>

<p>
	Then you just need some code that randomizes the session ID. So long as that
	code can be run more than once per session, a Session ID trap is created. The
	button below increments the session ID every time it is pressed. Try it out.
</p>

<a
	role="button"
	href="/how-to-make-a-spider-trap-with-sveltekit/session{session
		? `?session-id=${session + 1}`
		: '?session-id=1'}">
	Assign Session ID
</a>
