<section>
  <div>
    <slot name="left" />
  </div>
  <div>
    <slot name="right" />
  </div>
</section>

<style>
  section {
    @apply flex justify-center h-40 w-250 mx-auto;
  }

  div:first-of-type {
    @apply w-80 pr-6 mr-6 border-r-2;
    border-image: linear-gradient(to bottom, transparent, #303030, transparent) 1;
  }

  :global(.dark) div:first-of-type {
    border-image: linear-gradient(to bottom, transparent, #EEEBE8, transparent) 1;
  }

  div:last-of-type {
    @apply flex-1 flex justify-center align-center;
  }
</style>
