<script>
	export let height = 16;
	export let width = 16;
	export let depth = 16;
	export let x = 0;
	export let y = 0;
	export let z = 0;
	export let rotateX = 0;
	export let rotateY = 0;
	export let rotateZ = 0;
</script>

<div
	class="cube"
	style="--width: {width}vmin; --height: {height}vmin; --depth: {depth}vmin; --x: {x}vmin; --y: {y}vmin; --z: {z}vmin; --rotateX: {rotateX}deg; --rotateY: {rotateY}deg; --rotateZ: {rotateZ}deg;">
	<div />
	<div />
	<div />
	<div />
	<div />
	<div />
	<slot />
</div>

<style>
	.cube {
		@apply preserve-3d;
		height: var(--height);
		width: var(--width);
		transform: translate3d(var(--x), var(--y), var(--z)) rotateX(var(--rotateX))
			rotateY(var(--rotateY)) rotateZ(var(--rotateZ));
	}

	.cube div {
		@apply bg-black absolute border border-terminal;
	}

	.cube div:nth-of-type(1),
	.cube div:nth-of-type(2) {
		--coefficient: -0.5;
		height: var(--height);
		width: var(--width);
		transform: translate3d(0, 0, calc(var(--depth) * var(--coefficient)));
	}

	.cube div:nth-of-type(2) {
		--coefficient: 0.5;
	}

	.cube div:nth-of-type(3),
	.cube div:nth-of-type(4) {
		--rotation: 90deg;
		height: var(--height);
		width: var(--depth);
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotateY(var(--rotation))
			translate3d(0, 0, calc(var(--width) * -0.5));
	}

	.cube div:nth-of-type(4) {
		--rotation: -90deg;
	}

	.cube div:nth-of-type(5),
	.cube div:nth-of-type(6) {
		--rotation: -90deg;
		height: var(--depth);
		width: var(--width);
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotateX(var(--rotation))
			translate3d(0, 0, calc(var(--height) * -0.5));
	}

	.cube div:nth-of-type(6) {
		--rotation: 90deg;
	}
</style>
