<script>
	export let x = 0;
	export let y = 0;
	export let z = 0;
	export let rotateX = 0;
	export let rotateY = 0;
	export let rotateZ = 0;
</script>

<div
	style="--x: {x}vmin; --y: {y}vmin; --z: {z}vmin; --rotateX: {rotateX}deg; --rotateY: {rotateY}deg; --rotateZ: {rotateZ}deg;">
	<slot />
</div>

<style>
	div {
		@apply margin-auto preserve-3d;
		transform: translate3d(var(--x), var(--y), var(--z)) rotateX(var(--rotateX))
			rotateX(90deg) rotateY(var(--rotateY)) rotateZ(var(--rotateZ));
	}
</style>
