<script>
  import Die from '$lib/components/games/runes-and-ruins/dice/Die.svelte';
  import EventDie from '$lib/components/games/runes-and-ruins/dice/EventDie.svelte';
  import WeaponDie from '$lib/components/games/runes-and-ruins/dice/WeaponDie.svelte';
  import BlacksmithDie from '$lib/components/games/runes-and-ruins/dice/BlacksmithDie.svelte';
  import LootDie from '$lib/components/games/runes-and-ruins/dice/LootDie.svelte';
  import BurglerDie from '$lib/components/games/runes-and-ruins/dice/BurglarDie.svelte';
  import Range from '$lib/components/forms/Range.svelte';
</script>

<div>
  <Die />
  <EventDie />
  <WeaponDie />
  <BlacksmithDie />
  <LootDie />
  <BurglerDie />
</div>

<Range label="health" min={1} max={8} value={6} />

<style>
  div {
    @apply flex justify-between p-24 perspect-origin-top perspect-7xl;
  }
</style>
