<script>
  import { draggable } from '@neodrag/svelte';

  let axis;
</script>

<div use:draggable>Hello</div>

<div use:draggable={{ grid: [50, 50] }}>Hello</div>

<div>
  Axis:
  <label>
    <input type="radio" bind:group={axis} value="both" />
    Both
  </label>
  <label>
    <input type="radio" bind:group={axis} value="x" />
    x
  </label>
  <label>
    <input type="radio" bind:group={axis} value="y" />
    y
  </label>
  <label>
    <input type="radio" bind:group={axis} value="none" />
    none
  </label>
</div>

<!-- Dynamically change axis -->
<div use:draggable={{ axis }}>Text</div>

<div use:draggable={{ bounds: 'parent' }}>Hello</div>

<div use:draggable={{ bounds: 'body' }}>Hello</div>

<div use:draggable={{ cancel: '.cancel' }}>
  This will drag!
  <div class="cancel">You shall not drag!!🧙‍♂️</div>
</div>

<div use:draggable={{ position: { x: 0, y: 10 }, handle: '.handle' }}>
  You shall not drag!!🧙‍♂️
  <div class="handle">This will drag 😁</div>
</div>
