<script>
  import Bag from '$lib/components/games/runes-and-ruins/icons/Bag.svelte';
  import Broken from '$lib/components/games/runes-and-ruins/icons/Broken.svelte';
	import Coin from '$lib/components/games/runes-and-ruins/icons/Coin.svelte';
	import Coins from '$lib/components/games/runes-and-ruins/icons/Coins.svelte';
	import Potion from '$lib/components/games/runes-and-ruins/icons/Potion.svelte';
	import Rune from '$lib/components/games/runes-and-ruins/icons/Rune.svelte';
	import Shard from '$lib/components/games/runes-and-ruins/icons/Shard.svelte';
	import Monster from '$lib/components/games/runes-and-ruins/icons/Monster.svelte';
	import Key from '$lib/components/games/runes-and-ruins/icons/Key.svelte';
	import Weapon from '$lib/components/games/runes-and-ruins/icons/Weapon.svelte';
	import Chest from '$lib/components/games/runes-and-ruins/icons/Chest.svelte';
	import Trap from '$lib/components/games/runes-and-ruins/icons/Trap.svelte';
</script>

<div>
  <span><Rune /></span>
  <span><Monster /></span>
  <span><Key /></span>
  <span><Weapon /></span>
  <span><Chest /></span>
  <span><Trap /></span>
  <span><Broken /></span>
  <span><Coin /></span>
  <span><Coins /></span>
  <span><Bag /></span>
  <span><Potion /></span>
  <span><Shard pieces={1} /></span>
  <span><Shard pieces={2} /></span>
  <span><Shard pieces={3} /></span>
  <span><Shard pieces={4} /></span>
  <span><Shard pieces={5} /></span>
  <span><Shard /></span>

</div>

<style>
  div {
    @apply m-4 flex flex-wrap justify-between;
  }

  span {
    @apply m-5 block h-24 w-24 leading-24 text-center bg-smoke border-2 border-gray border-solid;
  }

  :global(.dark) span {
    @apply bg-soot border-grey;
  }
</style>
