<script>
	import Cube from './_cube.svelte';
	import Plane from './_plane.svelte';

	let height,
		width,
		depth,
		x,
		y,
		z,
		rotateX,
		rotateY,
		rotateZ,
		spinX,
		spinY,
		spinZ;
</script>

<Plane bind:rotateX={spinX} bind:rotateY={spinY} bind:rotateZ={spinZ}>
	<Cube
		bind:height
		bind:width
		bind:depth
		bind:x
		bind:y
		bind:z
		bind:rotateX
		bind:rotateY
		bind:rotateZ />
</Plane>

<label>Height</label>
<input type="range" bind:value={height} min="1" max="100" />
<label>Width</label>
<input type="range" bind:value={width} min="1" max="100" />
<label>Depth</label>
<input type="range" bind:value={depth} min="1" max="100" />

<br />

<label>X</label>
<input type="range" bind:value={x} min="0" max="100" />
<label>Y</label>
<input type="range" bind:value={y} min="0" max="100" />
<label>Z</label>
<input type="range" bind:value={z} min="0" max="100" />

<br />

<label>Rot-X</label>
<input type="range" bind:value={rotateX} min="0" max="360" />
<label>Rot-Y</label>
<input type="range" bind:value={rotateY} min="0" max="360" />
<label>Rot-Z</label>
<input type="range" bind:value={rotateZ} min="0" max="360" />

<br />

<label>Spin-X</label>
<input type="range" bind:value={spinX} min="0" max="360" />
<label>Spin-Y</label>
<input type="range" bind:value={spinY} min="0" max="360" />
<label>Spin-Z</label>
<input type="range" bind:value={spinZ} min="0" max="360" />
