<script>
  import { game } from '$lib/client/games/runes-and-ruins/game.js';
	import Shard from '$lib/components/games/runes-and-ruins/icons/Shard.svelte';
</script>

<div>
  <span><Shard isDie={false} /></span>

  {#each $game.dice as die (die.id)}
    <svelte:component this={die.type} id={die.id} />
  {/each}
</div>

<style>
  div {
    @apply h-200 perspect-origin-top perspect-7xl;
  }

  span {
    @apply h-54 w-54 absolute top-0 left-160;
  }
</style>
