<script>
	import Cube from './_cube.svelte';
	import Plane from './_plane.svelte';
</script>

<div class="bg-black rounded-full h-256 w-256 my-0 mx-auto">
	<Plane rotateX={24}>
		<svg
			viewBox="0 0 1002 1002"
			xmlns="http://www.w3.org/2000/svg"
			aria-hidden="true"
			stroke-width="2">
			<circle cx="501" cy="501" r="501" />
			<circle cx="501" cy="501" r="498" />
			<circle cx="501" cy="501" r="495" />
			<circle cx="501" cy="501" r="492" />
			<circle cx="501" cy="501" r="487.5" />
			<circle cx="501" cy="501" r="475" />
			<circle cx="501" cy="501" r="450" />
			<circle cx="501" cy="501" r="400" />
			<circle cx="501" cy="501" r="300" />
			<polygon points="500, 507 494, 496.5 506, 496.5" />
			<line x1="500" x2="288" y1="500" y2="953" stroke-width="1" />
			<line x1="500" x2="711" y1="500" y2="953" stroke-width="1" />
		</svg>
	</Plane>
</div>

<style>
	svg > circle,
	svg > polygon,
	svg > line {
		@apply stroke-horizon;
	}

	svg > polygon {
		@apply fill-horizon;
	}
</style>
