<script>
	import { fade } from 'svelte/transition';
	import M1 from './modules/m1.svelte';
	import M2 from './modules/m2.svelte';
	import M3 from './modules/m3.svelte';
	import M4 from './modules/m4.svelte';

	export let key;

	let terminal;
	let modules = [],
		output = [];
	let input = '';
	let component = M1;

	$: if (key == 'how-to-make-a-spider-trap-with-sveltekit') component = M2;
	else if (key == 'games') component = M3;
	else if (key == 'esolangs') component = M4;

	function submitAttempt(event) {
		if (event.key == 'Enter') {
			event.preventDefault();
			input = event.srcElement.innerText;
			setTimeout(() => (terminal.scrollTop = terminal.scrollHeight), 0);
		}
	}
</script>

<svelte:component this={component} bind:output bind:input />

<div bind:this={terminal} transition:fade|local>
	{#each output as entry (entry.id)}
		<p
			class:input={entry.input}
			autofocus={entry.id == output.length && entry.input}
			contenteditable={entry.id == output.length && entry.input}
			on:keydown={submitAttempt}>
			{entry.text}
		</p>
	{/each}
</div>

<style>
	p {
		@apply my-2 text-lg font-bold;
	}

	div {
		@apply h-67 w-120 mx-auto my-16 p-2 bg-black rounded text-white
		        scrollbar-hidden overflow-y-scroll;
	}

	:global(.dark) div {
		@apply bg-white text-black;
	}

	.input {
		@apply relative pl-6 caret-terminal outline-none
		       before:(content-. text-transparent transform absolute left-0 top-0.75 h-3)
					 before:(w-3 mt-1 -rotate-45 border-b-3 border-r-3 border-terminal);
	}

	:global(.dark) .input {
		@apply caret-ruby before:border-ruby;
	}
</style>
