<script>
	import { onMount } from 'svelte';
	import { createEventDispatcher } from 'svelte';
	import Button from '$lib/components/forms/Button.svelte';

	export let language;
	export let code;
	export let input;
	export let output;
	export let log;

	const dispatch = createEventDispatcher();

	let loaded = false;

	$: {
		if (loaded && output) setTimeout(() => scroll('output'), 0);
	}

	$: {
		if (loaded && log) setTimeout(() => scroll('log'), 0);
	}

	onMount(() => (loaded = true));

	function scroll(name) {
		let element = document.getElementById(name);

		element.scrollTop = element.scrollHeight;
	}

	function run() {
		dispatch('run', {});
	}

	function resume(e) {
		e.preventDefault();
		dispatch('resume', {});
	}

	function stop(e) {
		dispatch('stop', {});
	}
</script>

<svelte:head>
	<title>UIS | {language}</title>
	<meta name="description" content="{language} Emulator and Compiler" />
	<meta charset="UTF-8" />
</svelte:head>

<h1>{language} Emulator and Compiler</h1>

<slot />

<div class="px-6">
	<h2>Code:</h2>
	<textarea bind:value={code} />
	<slot name="initial" />
</div>

<div class="text-center mt-4">
	<Button on:click={run}>run</Button>
	<Button on:click={stop}>stop</Button>
</div>

{#if input != undefined}
	<div class="px-6">
		<form on:submit={resume}>
			<h2>Input: <slot name="input" /></h2>
			<input type="text" bind:value={input} />
		</form>
	</div>
{/if}

<div class="px-6">
	<h2>Output:</h2>
	<textarea id="output" disabled bind:value={output} />
</div>

{#if log != undefined}
	<div class="px-6">
		<h2>Log:</h2>
		<textarea id="log" disabled bind:value={log} />
	</div>
{/if}

<div class="p-8" />

<style>
	h1 {
		@apply my-4 mx-auto text-xl mobileL:text-2xl tabletS:text-3xl tablet:text-4xl
		       text-center;
	}

	textarea {
		@apply w-full h-34;
	}

	textarea[disabled] {
		@apply bg-white;
	}

	textarea,
	input[type='text'] {
		@apply font-mono;
	}

	input[type='text'] {
		@apply w-full;
	}

	:global(.dark) textarea,
	:global(.dark) input {
		@apply bg-black;
	}
</style>
