<script>
	import PortalLink from '$lib/components/PortalLink.svelte';
</script>

<svelte:head>
	<title>UIS | Esolangs</title>
	<meta
		name="description"
		content="Portal which lists esolang compilers available on the site." />
</svelte:head>

<h1>Esolang Compilers</h1>

<nav>
	<PortalLink link={'esolangs/🥺'} title={'🥺'} />
	<PortalLink link={'esolangs/subreal'} title={'Subreal'} />
</nav>

<style>
	h1 {
		@apply my-4 mx-auto text-xl mobileL:text-2xl tabletS:text-3xl tablet:text-4xl
           text-center;
	}

	nav {
		@apply m-8 grid grid-cols-1 tabletS:grid-cols-2 tablet:grid-cols-3 gap-y-4;
	}
</style>
