<script>
	import Template from './_Template.svelte';

	const VALID_INSTRUCTIONS = ['🥺', '💖', '👉👈', '💓', '✨', '🫂'];

	let ascii = true;
	let code = `🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺
🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺
🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺
🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺
🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺
🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺
🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺
🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺
🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺
🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺
🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺
🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺🥺`;
	let output,
		log = '',
		initial;
	let emulator;
	let instructions, stack, sp;

	function compile() {
		halt();
		output = log = '';
		try {
			let lines = code.split('\n');
			instructions = [];

			lines.forEach((line, i) => {
				let characters = [...line];
				let instruction = characters[0];
				let hands = instruction == '👉' && characters[1] == '👈';

				if (hands) instruction = '👉👈';

				let immediate =
					(line.match(new RegExp(`${instruction}`, 'g')) || ['']).length -
					1 +
					(line.match(/,/g) || []).length;

				if (characters[1] == ',' || (hands && characters[2] == ','))
					immediate *= -1;

				if (!VALID_INSTRUCTIONS.includes(instruction))
					throw `Invalid instruction ${instruction} on line ${i}`;

				for (let j = hands ? 2 : 1; j < characters.length; j++) {
					if (hands && characters[j] + characters[j + 1] == '👉👈') j += 2;
					else if (characters[j] != ',' && characters[j] != instruction)
						throw `Invalid character ${line[j]} on line ${i}`;
				}

				instructions.push({
					instruction,
					immediate
				});
			});

			stack = initial ? initial.split(',').map(value => Number(value)) : [];
			sp = 0;

			log += 'Initial Stack: [' + stack + ']\n';

			emulator = setInterval(() => emulate(), 0);
		} catch (err) {
			output = 'Error: You messed up somewhere.\n';
			output += err;
		}
	}

	function emulate() {
		try {
			if (sp < instructions.length && sp >= 0) {
				log +=
					'Instruction: ' +
					instructions[sp].instruction +
					'\nImmediate: ' +
					instructions[sp].immediate +
					'\nInitial Stack Pointer: ' +
					sp +
					'\n';

				if (instructions[sp].instruction == '🥺') {
					stack.push(instructions[sp].immediate);
					sp++;
				} else if (instructions[sp].instruction == '💖') {
					let a = stack.pop();
					stack.push(Math.floor(a / instructions[sp].immediate));
					sp++;
				} else if (instructions[sp].instruction == '👉👈') {
					let temp = stack[stack.length - 1];
					stack[stack.length - 1] =
						stack[stack.length - 1 - instructions[sp].immediate];
					stack[stack.length - 1 - instructions[sp].immediate] = temp;
					sp++;
				} else if (instructions[sp].instruction == '💓') {
					let a = stack.pop();
					let b = stack.pop();
					for (let i = 0; i < instructions[sp].immediate; i++) stack.pop();
					stack.push(a * b);
					sp++;
				} else if (instructions[sp].instruction == '✨') {
					let copy = stack.slice(stack.length - instructions[sp].immediate);
					stack = [...stack, ...copy];
					sp++;
				} else if (instructions[sp].instruction == '🫂') {
					let a = stack.pop();
					if (a) sp -= instructions[sp].immediate;
					else sp++;
				} else {
					throw 'Unknown runtime error';
				}

				log += 'Final Stack Pointer: ' + sp + '\n';
				log += '\nCurrent Stack: [' + stack + ']\n\n';
			} else {
				halt();

				while (stack.length != 0) {
					if (ascii) output += String.fromCharCode(Math.abs(stack.pop()));
					else output += stack.pop() + '\n';
				}
			}
		} catch (err) {
			halt();
			output = 'Error: You messed up somewhere.\n';
			output += err;
		}
	}

	function halt() {
		clearInterval(emulator);
	}
</script>

<Template
	language={'🥺'}
	bind:code
	bind:output
	bind:log
	on:run={compile}
	on:stop={halt}>
	<p class="m-4">
		Implementation of the <a
			class="underline"
			href="https://esolangs.org/wiki/%F0%9F%A5%BA">🥺 Language</a
		>.
	</p>

	<p class="m-4">
		The initial stack should contain the comma separated (no spaces) list of
		integers already on the stack. The first value will be on the top and the
		last will be on the bottom (the accessible one). To enter a negative integer
		you start the immediate with a comma. If the option is selected all numbers
		on the stack will be converted to ASCII when printed. If the number is
		negative it will display the ASCII of the absolute value.
	</p>

	<div class="text-center mt-4">
		<label for="display-type">Display as ASCII: </label>
		<input id="display-type" type="checkbox" bind:checked={ascii} />
	</div>

	<span slot="initial">
		<h2>Initial Stack:</h2>
		<input type="text" class="w-full" bind:value={initial} />
	</span>
</Template>
