<script context="module">
	export async function load({ url, params }) {
		return {
			props: {
				session: parseInt(url.searchParams.get('session-id')),
				date: parseInt(params.date)
			}
		};
	}
</script>

<script>
	export let session;
	export let date;
</script>

<h1>URL Slugs</h1>

<p>
	URL parameters in SvelteKit are implemented via URL slugs. These are similar
	to the ones used by the Expanding URL trap, but don't have to be wildcards.
	Any url slug can become a calender trap. You could also use query parameters
	to achieve the same effect, like with the Mix & Match trap. The path to this
	page is:
</p>

<code>../calender/[date].svelte</code>

<p>This means that any of the following paths will link to this page:</p>

<code>
	/calender/0 <br />
	/calender/2 <br />
	/calender/friday <br />
	/calender/9-18-12 <br />
</code>

<p>
	To create the trap, we simply create links that are dynamic to the current
	URL. To do this we add the following code to the page:
</p>

<pre><code>{``}
</code></pre>

<p>Then we add the two links below which decrement/increment the date value.</p>

<div>
	<a
		role="button"
		href="/how-to-make-a-spider-trap-with-sveltekit/calender/{date - 1}{session
			? `?session-id=${session}`
			: ''}">
		Previous Page
	</a>

	<a
		role="button"
		href="/how-to-make-a-spider-trap-with-sveltekit/calender/{date + 1}{session
			? `?session-id=${session}`
			: ''}">
		Next Page
	</a>
</div>

<style>
	div {
		@apply flex justify-between;
	}
</style>
