<script>
	import { createEventDispatcher } from 'svelte';

	export let username = '';

	const dispatch = createEventDispatcher();

	function ban() {
		dispatch('ban');
	}
</script>

<div role="button" on:click={ban}>
	<span>Ban {username}</span>
	<svg
		xmlns="http://www.w3.org/2000/svg"
		aria-hidden="true"
		viewBox="0 0 512 512">
		<circle
			cx="256"
			cy="256"
			r="208"
			fill="none"
			stroke="currentColor"
			stroke-miterlimit="10"
			stroke-width="32" />
		<path
			fill="none"
			stroke="currentColor"
			stroke-miterlimit="10"
			stroke-width="32"
			d="M108.92 108.92l294.16 294.16" />
	</svg>
</div>

<style>
	div {
		@apply h-5 w-5 hover:(outline-1 outline-ruby);
	}

	circle,
	path {
		@apply max-h-full m-auto stroke-ruby;
	}

	:global(.dark) circle,
	:global(.dark) path {
		@apply stroke-terminal;
	}

	span {
		@apply sr-only;
	}
</style>
