<script>
	export let viewed;
</script>

<div>
	{#if !viewed}
		<span>New Messages Available</span>
	{/if}
	<svg
		xmlns="http://www.w3.org/2000/svg"
		aria-hidden="true"
		viewBox="0 0 512 512">
		<path
			d="M408 64H104a56.16 56.16 0 00-56 56v192a56.16 56.16 0 0056 56h40v80l93.72-78.14a8 8 0 015.13-1.86H408a56.16 56.16 0 0056-56V120a56.16 56.16 0 00-56-56z"
			fill="none"
			stroke-linejoin="round"
			stroke-width="32" />
		{#if !viewed}
			<circle cx="160" cy="216" r="32" />
			<circle cx="256" cy="216" r="32" />
			<circle cx="352" cy="216" r="32" />
		{/if}
	</svg>
</div>

<style>
	div {
		@apply flex items-center w-6;
	}

	svg {
		@apply transform transition max-w-full m-auto stroke-grey;
	}

	path {
		@apply stroke-grey;
	}

	:global(.dark) path {
		@apply stroke-gray;
	}

	circle {
		@apply fill-grey;
	}

	:global(.dark) circle {
		@apply fill-gray;
	}

	span {
		@apply sr-only;
	}
</style>
