<script>
	import { createEventDispatcher } from 'svelte';

	export let action = 'Open';
	export let target = 'Menu';

	let toggled = false;

	const dispatch = createEventDispatcher();

	function toggle() {
		toggled = !toggled;
		dispatch('toggle', {
			toggled
		});
	}
</script>

<div role="button" on:click={toggle}>
	<span>{action} {target}</span>
	<svg
		xmlns="http://www.w3.org/2000/svg"
		class:toggled
		aria-hidden="true"
		viewBox="0 0 512 512">
		<path
			fill="none"
			stroke-linecap="round"
			stroke-linejoin="round"
			stroke-width="48"
			d="M112 328l144-144 144 144"/>
	</svg>
</div>

<style>
	div {
		@apply w-7 ml-auto;
	}

	svg {
		@apply transform transition max-w-full m-auto stroke-grey;
	}

	:global(.dark) svg {
		@apply stroke-gray;
	}

	span {
		@apply sr-only;
	}

	.toggled {
		@apply -rotate-180;
	}
</style>
