<script>
	export let value = 10;
	export let units = 'People Online';
</script>

<div>
	<span>{value} {units}</span>
	<div>
		<p>{value}</p>
	</div>
	<svg
		xmlns="http://www.w3.org/2000/svg"
		aria-hidden="true"
		viewBox="0 0 512 512">
		<circle cx="152" cy="184" r="72" />
		<path
			d="M234 296c-28.16-14.3-59.24-20-82-20-44.58 0-136 27.34-136 82v42h150v-16.07c0-19 8-38.05 22-53.93 11.17-12.68 26.81-24.45 46-34z" />
		<path
			d="M340 288c-52.07 0-156 32.16-156 96v48h312v-48c0-63.84-103.93-96-156-96z" />
		<circle cx="340" cy="168" r="88" />
	</svg>
</div>

<style>
	div {
		@apply relative top-0;
	}

	div div {
		@apply absolute top-0 flex justify-center items-center h-full w-full;
	}

	svg {
		@apply max-h-full max-w-full m-auto fill-gray;
	}

	:global(.dark) svg {
		@apply fill-grey;
	}

	p {
		@apply absolute m-auto bg-gray mt-3.5 text-grey font-bold leading-4;
	}

	span {
		@apply sr-only;
	}
</style>
