<script>
	export let occupied = false;
</script>

<svg
	xmlns="http://www.w3.org/2000/svg"
	class:occupied
	aria-hidden="true"
	viewBox="0 0 512 512">
	<path
		d="M256 256a112 112 0 10-112-112 112 112 0 00112 112zm0 32c-69.42 0-208 42.88-208 128v64h416v-64c0-85.12-138.58-128-208-128z" />
</svg>

<style>
	svg {
		@apply max-h-full max-w-full m-auto fill-transparent stroke-gray stroke-50;
	}

	:global(.dark) svg {
		@apply fill-transparent stroke-grey stroke-50;
	}

	.occupied {
		@apply fill-gray stroke-transparent stroke-0;
	}

	:global(.dark) .occupied {
		@apply fill-grey stroke-transparent stroke-0;
	}
</style>
