<script>
	import { createEventDispatcher } from 'svelte';

	export let action = 'Remove';
	export let username = '';

	const dispatch = createEventDispatcher();

	function remove() {
		dispatch('remove');
	}
</script>

<div role="button" on:click={remove}>
	<span>{action} {username}</span>
	<svg
		xmlns="http://www.w3.org/2000/svg"
		aria-hidden="true"
		viewBox="0 0 512 512">
		<path
			fill="none"
			stroke="currentColor"
			stroke-linecap="round"
			stroke-linejoin="round"
			stroke-width="32"
			d="M368 368L144 144M368 144L144 368" />
	</svg>
</div>

<style>
	div {
		@apply h-7 w-7 hover:(outline-1 outline-ruby);
	}

	path {
		@apply max-h-full m-auto stroke-ruby;
	}

	:global(.dark) path {
		@apply stroke-terminal;
	}

	span {
		@apply sr-only;
	}
</style>
