<script>
	export let status = 0;
	export let inactive = 'Status: Inactive';
	export let standby = 'Status: Standby';
	export let active = 'Status: Active';
</script>

<svg
	class:inactive={status < 0}
	class:standby={status == 0}
	class:active={status > 0}
	aria-hidden="true"
	xmlns="http://www.w3.org/2000/svg"
	viewBox="0 0 512 512">
	<path
		d="M448 256c0-106-86-192-192-192S64 150 64 256s86 192 192 192 192-86 192-192z"
		fill="none"
		stroke="currentColor"
		stroke-miterlimit="10"
		stroke-width="32" />
	<circle cx="256" cy="256" r="125" />
</svg>

<span>
	{status <= 0 ? (status == 0 ? standby : inactive) : active}
</span>

<style>
	svg {
		@apply max-h-full max-w-full ml-auto;
	}

	path {
		@apply stroke-gray stroke-50;
	}

	:global(.dark) path {
		@apply stroke-grey;
	}

	.inactive circle {
		@apply fill-stop;
	}

	.standby circle {
		@apply fill-yield;
	}

	.active circle {
		@apply fill-go;
	}

	span {
		@apply sr-only;
	}
</style>
