<svg
	xmlns="http://www.w3.org/2000/svg"
	aria-hidden="true"
	viewBox="0 0 100 100">
	<path d="M 55 47 C 37 47 37 67 55 67 M 50 41 L 50 73 M 49 41 L 51 73 M 76 76 C 79 83 21 83 24 76 S 22 27 45 30 S 32 21 43 25 M 24 76 C 21 83 79 83 76 76 S 73 27 53 30 S 66 21 56 25 M 41 24 Q 42 18 48 24 Q 48 20 53 24 Q 57 19 58 24" />
</svg>


<style>
	path {
		@apply stroke-2 stroke-soot fill-transparent;
	}

	:global(.dark) path {
		@apply stroke-smoke;
	}
</style>
