<svg
	xmlns="http://www.w3.org/2000/svg"
	aria-hidden="true"
	viewBox="0 0 100 100">
	<path d="M 52 83 L 86 46 Q 87 39 80 40 L 46 77 Q 45 84 52 83 M 71 62 L 89 77 Q 90 84 84 83 L 66 68 M 34 33 L 38 24 L 67 54 M 34 33 L 25 37 L 58 64 M 34 33 L 62 59" />
	<path d="M 8 54 L 23 54 L 38 69 M 8 54 L 8 67 L 25 82 L 34 78 L 38 69 M 8 54 L 34 78" />
</svg>


<style>
	path {
		@apply stroke-2 stroke-soot fill-transparent;
	}

  path:nth-of-type(2) {
    @apply transform origin-center rotate-250 -translate-x-12;
  }

	:global(.dark) path {
		@apply stroke-smoke;
	}
</style>
