<svg
	xmlns="http://www.w3.org/2000/svg"
	aria-hidden="true"
	viewBox="0 0 100 100">
	<path d="M 85 20 C 68 5 32 5 15 20 M 15 85 L 35 65 M 85 20 L 65 44 M 85 85 L 65 65 M 15 20 L 15 85 L 85 85 L 85 20 L 15 20 L 35 44 L 35 65 L 65 65 L 65 44 L 35 44 M 51 54 L 51 61 L 49 61 L 49 54 M 60 44 C 60 27 40 27 40 44" />
  <circle cx="50" cy="52" r="3" />
</svg>


<style>
	circle,
	path {
		@apply stroke-2 stroke-soot fill-transparent;
	}

	:global(.dark) circle,
	:global(.dark) path {
		@apply stroke-smoke;
	}
</style>
