<svg
	xmlns="http://www.w3.org/2000/svg"
	aria-hidden="true"
	viewBox="0 0 100 100">
  <circle cx="40" cy="48" r="25" />
  <circle cx="43" cy="45" r="25" />
  <path d="M 45 33 C 27 33 27 53 45 53 M 40 27 L 40 59 M 39 27 L 41 59" />

  <circle cx="54" cy="60" r="25" />
  <circle cx="57" cy="57" r="25" />
	<path d="M 64 48 C 46 48 46 68 64 68 M 59 42 L 59 74 M 58 42 L 60 74" />
</svg>


<style>
	circle,
	path {
		@apply stroke-2 stroke-soot fill-transparent;
	}

	circle {
		@apply fill-smoke;
	}

	:global(.dark) circle,
	:global(.dark) path {
		@apply stroke-smoke;
	}

	:global(.dark) circle {
		@apply fill-soot;
	}
</style>
