<svg
	xmlns="http://www.w3.org/2000/svg"
	aria-hidden="true"
	viewBox="0 0 100 100">
	<circle cx="47" cy="53" r="25" />
  <circle class="mask" cx="50" cy="50" r="25" />
	<path d="M 57 41 C 39 41 39 61 57 61 M 52 35 L 52 67 M 51 35 L 53 67" />
</svg>


<style>
	circle,
	path {
		@apply stroke-2 stroke-soot fill-transparent;
	}

	circle {
		@apply fill-smoke;
	}

	:global(.dark) circle,
	:global(.dark) path {
		@apply stroke-smoke;
	}

	:global(.dark) circle {
		@apply fill-soot;
	}
</style>
