<svg
	xmlns="http://www.w3.org/2000/svg"
	aria-hidden="true"
	viewBox="0 0 100 100">
	<path d="M 41 52 L 75 15 M 47 58 L 81 21 Q 82 14 75 15 M 78 24 L 87 32 L 84 35 L 82 33 L 79 36 L 81 38 L 78 41 L 70 34" />
  <circle cx="34" cy="66" r="8" />
	<circle cx="34" cy="66" r="16" />
</svg>


<style>
	circle,
	path {
		@apply stroke-2 stroke-soot fill-transparent;
	}

	:global(.dark) circle,
	:global(.dark) path {
		@apply stroke-smoke;
	}
</style>
