<svg
	xmlns="http://www.w3.org/2000/svg"
	aria-hidden="true"
	viewBox="0 0 100 100">
	<path d="M 46 54 C 44 37 -3 36 13 54 M 87 54 C 107 36 56 37 54 54" />
  <circle cx="36" cy="50" r="3" />
  <circle cx="64" cy="50" r="3" />
</svg>


<style>
	circle,
	path {
		@apply stroke-2 stroke-soot fill-soot;
	}

  path {
    @apply !fill-transparent;
  }

	:global(.dark) circle,
	:global(.dark) path {
		@apply stroke-smoke fill-smoke;
	}
</style>
