<svg
	xmlns="http://www.w3.org/2000/svg"
	aria-hidden="true"
	viewBox="0 0 100 100">
	<path d="M 28.8 85.6 C 37.6 92.8 66.4 92.8 75.2 85.6 S 91.2 73.6 61.6 44.8 C 58.4 40.8 56.8 39.2 56.8 33.6 L 56.8 11.2 C 56.8 13.6 47.2 13.6 47.2 11.2 C 47.2 8.8 56.8 8.8 56.8 11.2 M 75.2 85.6 C 66.4 92.8 37.6 92.8 28.8 85.6 S 12.8 72.8 42.4 44.8 C 45.6 40.8 47.2 39.2 47.2 33.6 L 47.2 11.2 M 47.2 22.4 Q 48.8 24 50.4 22.4 T 53.6 22.4 T 56.8 22.4" />
</svg>


<style>
	path {
		@apply stroke-2 stroke-soot fill-transparent;
	}

	:global(.dark) path {
		@apply stroke-smoke;
	}
</style>
