<svg
	xmlns="http://www.w3.org/2000/svg"
	aria-hidden="true"
	viewBox="0 0 100 100">
	<path d="M 82 57 C 82 90 18 91 18 57 S 38 12 50 14 S 68 21 74 30 M 18 57 C 18 90 82 91 82 57 S 8 34 35 65 S 83 43 55 47" />
  <circle cx="50" cy="58" r="3" />
</svg>


<style>
	circle,
	path {
		@apply stroke-2 stroke-soot fill-soot;
	}

  path {
    @apply !fill-transparent;
  }

	:global(.dark) circle,
	:global(.dark) path {
		@apply stroke-smoke fill-smoke;
	}
</style>
