<script>
  import { game } from '$lib/client/games/runes-and-ruins/game.js';
  import { PIECES } from '$lib/client/games/runes-and-ruins/constants.js';

  export let isDie = true;

  let pieces = isDie ? $game.pieces.order[$game.pieces.collected] : $game.pieces.mask;

  $: if ($game.pieces.mask)
    pieces = isDie ? $game.pieces.order[$game.pieces.collected] : $game.pieces.mask;
</script>

<svg
	xmlns="http://www.w3.org/2000/svg"
	aria-hidden="true"
	viewBox="0 0 100 100">
	<path class:filled={pieces & PIECES.ONE} d="M 10 50 L 30 86 L 50 50 L 10 50" />
	<path class:filled={pieces & PIECES.TWO} d="M 50 50 L 10 50 L 30 14 L 50 50" />
	<path class:filled={pieces & PIECES.THREE} d="M 30 14 L 70 14 L 50 50 L 30 14" />
	<path class:filled={pieces & PIECES.FOUR} d="M 50 50 L 90 50 L 70 14 L 50 50" />
	<path class:filled={pieces & PIECES.FIVE} d="M 90 50 L 70 86 L 50 50 L 90 50" />
	<path class:filled={pieces & PIECES.SIX} d="M 30 86 L 70 86 L 50 50 L 30 86" />

  <mask id="pieces">
    <rect x="0" y="0" width="100" height="100" fill="black" />
  	<path class:!fill-white={pieces & PIECES.ONE} d="M 10 50 L 30 86 L 50 50 L 10 50" />
    <path class:!fill-white={pieces & PIECES.TWO} d="M 50 50 L 10 50 L 30 14 L 50 50" />
  	<path class:!fill-white={pieces & PIECES.THREE} d="M 30 14 L 70 14 L 50 50 L 30 14" />
  	<path class:!fill-white={pieces & PIECES.FOUR} d="M 50 50 L 90 50 L 70 14 L 50 50" />
  	<path class:!fill-white={pieces & PIECES.FIVE} d="M 90 50 L 70 86 L 50 50 L 90 50" />
  	<path class:!fill-white={pieces & PIECES.SIX} d="M 30 86 L 70 86 L 50 50 L 30 86" />
  </mask>

  <g class:shine={pieces == PIECES.COMPLETE} class:masked={!isDie}>
    <path d="M 20 50 L 80 50 L 50 80 L 20 50 M 26 50 L 43 68 L 37 78 M 74 50 L 57 68 L 63 78 M 31 38 L 45 54 M 35 36 C 31 41 31 35 27 40 M 69 38 L 55 54 M 73 40 C 69 35 69 41 65 36 M 50 50 L 50 32 M 57 32 C 50 23 50 41 43 32 M 43 32 C 50 23 50 41 57 32 M 46 50 L 38 28 M 54 50 L 62 28" />
    <circle cx="50" cy="50" r="30" />
    <circle cx="50" cy="66" r="8" />
    <circle cx="50" cy="66" r="2" />
    <circle cx="37" cy="26" r="2" />
    <circle cx="63" cy="26" r="2" />
  </g>
</svg>

<style>
  g.masked {
    mask: url(#pieces);
  }

  circle,
	path {
		@apply stroke-2 stroke-transparent fill-transparent;
	}

  path.filled {
    @apply fill-soot stroke-soot;
  }

	:global(.dark) path.filled {
		@apply fill-smoke stroke-smoke;
	}

  g circle,
  g path {
    @apply stroke-smoke;
  }

  g.shine circle,
  g.shine path {
    @apply stroke-terminal;
  }

	:global(.dark) g circle,
  :global(.dark) g path {
		@apply stroke-soot;
	}

	:global(.dark) g.shine circle,
  :global(.dark) g.shine path {
		@apply stroke-ruby;
	}
</style>
