<svg
	xmlns="http://www.w3.org/2000/svg"
	aria-hidden="true"
	viewBox="0 0 100 100">
	<path d="M 26 78 L 26 35 L 29 38 L 24 20 L 19 38 L 22 35 L 22 78 L 26 78" />
	<path d="M 52 78 L 52 35 L 55 38 L 50 20 L 45 38 L 48 35 L 48 78 L 52 78" />
	<path d="M 78 78 L 78 35 L 81 38 L 76 20 L 71 38 L 74 35 L 74 78 L 78 78" />
</svg>


<style>
	path {
		@apply stroke-2 stroke-soot fill-transparent;
	}

	:global(.dark) path {
		@apply stroke-smoke;
	}
</style>
