<svg
	xmlns="http://www.w3.org/2000/svg"
	aria-hidden="true"
	viewBox="0 0 100 100">
	<path d="M 52 83 L 86 46 Q 87 39 80 40 L 46 77 Q 45 84 52 83 M 71 62 L 89 77 Q 90 84 84 83 L 66 68 M 8 9 L 62 59 M 8 9 L 23 9 L 67 54 M 8 9 L 8 22 L 58 64" />
</svg>


<style>
	path {
		@apply stroke-2 stroke-soot fill-transparent;
	}

	:global(.dark) path {
		@apply stroke-smoke;
	}
</style>
