<svelte:head>
	<title>Quiddler</title>
	<meta
		name="description"
		content="Quiddler is a card game and word game created by Set Enterprises. Players compete by spelling English words from cards in hands of increasing size, each card worth various points. The game combines aspects of Scrabble and gin rummy." />
</svelte:head>

<slot />
