<script context="module">
	export async function load({ url }) {
		return {
			props: {
				url:
					url.host == 'localhost:3000'
						? 'ws://localhost:8080'
						: 'wss://' + url.hostname + '/websocket/quiddler'
			}
		};
	}
</script>

<script>
	import { onMount, onDestroy } from 'svelte';
	import { loadHub } from '$lib/client/games/quiddler/hub.js';
	import Button from '$lib/components/forms/Button.svelte';
	import Text from '$lib/components/forms/Text.svelte';
	import Loading from '$lib/components/Loading.svelte';
	import Hub from '$lib/components/games/quiddler/Hub.svelte';
	import { TIME, HTTP } from '$lib/constants.js';

	export let url;

	let hub;
	let loading = false;
	let username = '';
	let token;
	let heartbeat;
	let error;

	onMount(async () => {
		if (
			Date.now() - localStorage.getItem('quiddler-expire') <
			TIME.TEN_MINUTES
		) {
			loading = true;
			username = localStorage.getItem('quiddler-username');
			token = localStorage.getItem('quiddler-token');
			hub = loadHub(url, username, token);
			heartbeat = setInterval(keepAlive, TIME.ONE_MINUTE);
			keepAlive();
		} else if (localStorage.getItem('quiddler-expire'))
			reset('Lost connection.');
		else reset();
	});

	async function submitUsername() {
		if (username.length == 0)
			return reset('Username must contain at least one (1) character!');

		loading = true;

		const response = await fetch('quiddler/account', {
			method: 'POST',
			body: JSON.stringify({ username })
		});

		if (response.status < HTTP.STATUS_ERROR_THRESHOLD) {
			token = (await response.json()).token;

			localStorage.setItem('quiddler-username', username);
			localStorage.setItem('quiddler-token', token);
			localStorage.setItem('quiddler-expire', Date.now());

			hub = loadHub(url, username, token);
			heartbeat = setInterval(keepAlive, TIME.ONE_MINUTE);
		} else reset('Username already in use! Choose a different one.');
	}

	async function keepAlive() {
		let response = await fetch('/games/quiddler/account', {
			method: 'PUT',
			body: JSON.stringify({ username, token })
		});

		if (response.status >= HTTP.STATUS_ERROR_THRESHOLD)
			reset('You were disconnected by an unknown error.');
		else localStorage.setItem('quiddler-expire', Date.now());
	}

	function reset(message = '') {
		localStorage.removeItem('quiddler-expire');
		localStorage.removeItem('quiddler-username');
		localStorage.removeItem('quiddler-token');

		hub = hub ? hub.close() : null;
		username = '';
		loading = false;
		error = message;
		clearInterval(heartbeat);
	}

	onDestroy(() => {
		clearInterval(heartbeat);
		if (hub) hub.close();
	});
</script>

<h1>Quiddler</h1>

{#if hub}
	<Hub bind:hub on:disconnect={event => reset(event.detail.error)} />
{:else if loading}
	<Loading />
{:else}
	<h2>Please Enter a Username:</h2>

	{#if error}
		<h3>{error}</h3>
	{/if}

	<form on:submit|preventDefault={submitUsername}>
		<Text label="username" bind:value={username} />
		<Button type="submit">
			submit <span>username</span>
		</Button>
	</form>
{/if}

<style>
	h1 {
		@apply top-0 py-5 text-5xl mobileL:text-6xl tablet:text-8xl text-center;
	}

	h2 {
		@apply mt-5 text-2xl tablet:text-5xl fourK:text-6xl text-center;
	}

	h3 {
		@apply mx-2 mt-6 text-ruby text-xl text-center;
	}

	:global(.dark) h3 {
		@apply text-terminal;
	}

	span {
		@apply sr-only;
	}

	form {
		@apply flex flex-col items-center tablet:(block text-center);
	}
</style>
