<script>
	import { createEventDispatcher } from 'svelte';
	import ChatAlert from '$lib/components/games/quiddler/icons/ChatAlert.svelte';
	import Chevron from '$lib/components/games/quiddler/icons/Chevron.svelte';
	import Send from '$lib/components/games/quiddler/icons/Send.svelte';

	const dispatch = createEventDispatcher();

	export let chat;
	export let username;

	let pane;
	let toggled = false;
	let previousScrollHeight = 0,
		previousLength = 0;

	$: if (
		chat.messages?.length > previousLength &&
		pane?.scrollTop == previousScrollHeight
	)
		setTimeout(() => {
			pane.scrollTop = pane.scrollHeight;
			previousScrollHeight = Math.max(0, pane.scrollHeight - pane.offsetHeight);
			previousLength = chat.messages.length;
		}, 0);

	function viewMessages(event) {
		toggled = event.detail.toggled;

		dispatch('view', {
			open: toggled
		});
	}

	function sendMessage(event) {
		const data = Object.fromEntries(new FormData(event.target).entries());

		dispatch('chat', {
			message: data.message
		});

		document.getElementById('message').value = '';
	}

	function submit(event) {
		if (event.key == 'Enter' && !event.shiftKey) {
			event.preventDefault();
			document.getElementById('submit').click();
		}
	}
</script>

<section class:toggled aria-live="polite">
	<div>
		<h1>Chat</h1>
		<ChatAlert viewed={chat.viewed} />
		<Chevron target="Chat" on:toggle={viewMessages} />
	</div>
	<main bind:this={pane}>
		{#each chat.messages as message}
			<p class:user={message.author == username}>
				<b><span>From </span>{message.author}</b>
				<br />
				{message.message}
			</p>
		{/each}
	</main>
	<form on:submit|preventDefault={sendMessage}>
		<label for="message"> Type your message here: </label>
		<textarea id="message" name="message" on:keypress={submit} />

		<button id="submit" type="submit">
			<span>Send Message</span>
			<Send />
		</button>
	</form>
</section>

<style>
	section {
		@apply transform transition duration-300 w-50 bg-gray overflow-hidden absolute
					 z-100 -bottom-0 right-0 rounded-t translate-y-75;
	}

	section.toggled {
		@apply translate-y-0;
	}

	div {
		@apply h-7 bg-gray flex rounded-t;
	}

	:global(.dark) div {
		@apply bg-grey;
	}

	main {
		@apply flex flex-col h-65 pt-6 border-l-2 border-r-1-2 border-gray
					 bg-smoke overflow-y-scroll scrollbar-hidden;
	}

	:global(.dark) main {
		@apply border-grey bg-soot;
	}

	form {
		@apply flex h-10 bg-gray;
	}

	:global(.dark) form {
		@apply bg-grey;
	}

	textarea {
		@apply flex bg-smoke m-1 px-1 rounded-lg resize-none text-base overflow-y-scroll
					 scrollbar-hidden outline-none active:outline-none focus:outline-none;
	}

	:global(.dark) textarea {
		@apply bg-soot;
	}

	button {
		@apply mr-1 outline-none focus:outline-none active:outline-none;
	}

	h1 {
		@apply text-grey font-bold ml-1 mr-3;
	}

	:global(.dark) h1 {
		@apply text-gray;
	}

	p {
		@apply my-6 px-2 w-9/10 mr-auto rounded-r bg-gray text-grey;
	}

	p:first-of-type {
		@apply mt-auto;
	}

	:global(.dark) p {
		@apply bg-grey text-gray;
	}

	.user {
		@apply ml-auto mr-0 rounded-r-none rounded-l;
	}

	b {
		@apply text-sm float-right font-bold;
	}

	label,
	span {
		@apply sr-only;
	}
</style>
