<script>
	export let page;

	let links = ['/', '/games', '/esolangs', '/recipes'];
</script>

<header>
	<nav>
		<ul>
			{#each links as link}
				<li>
					<a aria-current={page == link ? 'page' : undefined} href={link}>
						{link.length > 1 ? link.substring(1) : link}
					</a>
				</li>
			{/each}
		</ul>
	</nav>
</header>

<style>
	header {
		@apply text-xl fourK:text-2xl;
	}

	nav {
		@apply border-solid border-b border-ruby/25;
	}

	:global(.dark) nav {
		@apply border-terminal/25;
	}

	ul {
		@apply p-0 m-0;
	}

	li {
		@apply inline-block not-first:pl-4;
	}

	a {
		@apply relative block p-y-4 p-x-2 no-underline text-gray tablet:text-xl
					 fourK:text-3xl after:(content-. text-transparent block absolute h-1px)
					 after:(bg-ruby -bottom-1px w-0 transition-all);
	}

	:global(.dark) a {
		@apply text-grey after:bg-terminal;
	}

	[aria-current]:after,
	a:hover:after {
		@apply w-padded;
	}
</style>
