<script>
	export let href;
</script>

<a {href}><slot /></a>

<style>
	a {
		@apply pt-2 transition-all duration-200 cursor-pointer hover:text-ruby no-underline font-bold;
		background-image: linear-gradient(
			transparent,
			transparent calc(50% - 0.4em),
			rgba(255, 62, 0, 0.65) calc(50% - 0.4em),
			rgba(255, 62, 0, 0.65)
		);
		background-size: 100% 200%;
	}

	:global(.dark) a {
		@apply hover:(text-terminal);
		background-image: linear-gradient(
			transparent,
			transparent calc(50% - 0.4em),
			rgba(57, 255, 20, 0.65) calc(50% - 0.4em),
			rgba(57, 255, 20, 0.65)
		);
	}

	a:hover {
		background-image: linear-gradient(
			transparent,
			transparent calc(50% - 0.4em),
			rgba(48, 48, 48, 1) calc(50% - 0.4em),
			rgba(48, 48, 48, 1)
		);
		background-size: 100% 100%;
	}

	:global(.dark) a:hover {
		background-image: linear-gradient(
			transparent,
			transparent calc(50% - 0.4em),
			rgba(238, 235, 232, 1) calc(50% - 0.4em),
			rgba(238, 235, 232, 1)
		);
	}
</style>
