<script>
	import { motion } from '$lib/client/preferences.js';
</script>

<div class:ellipsis={$motion}>
	{#if $motion}
		<div />
		<div />
		<div />
		<div />
	{:else}
		<p>Loading...</p>
	{/if}
</div>

<style>
	p {
		@apply text-5xl mobileL:text-6xl tablet:text-8xl;
	}

	.ellipsis {
		@apply relative w-80px h-80px mt-8 mx-auto;
	}

	div div {
		@apply absolute bg-gray top-33px w-13px h-13px rounded-full;
		animation-timing-function: cubic-bezier(0, 1, 1, 0);
	}

	:global(.dark) div div {
		@apply bg-grey;
	}

	div div:nth-child(1) {
		@apply left-8px;
		animation: grow 0.6s infinite;
	}

	div div:nth-child(2) {
		@apply left-8px;
		animation: slide 0.6s infinite;
	}

	div div:nth-child(3) {
		@apply left-32px;
		animation: slide 0.6s infinite;
	}

	div div:nth-child(4) {
		@apply left-56px;
		animation: shrink 0.6s infinite;
	}

	@keyframes grow {
		0% {
			transform: scale(0);
		}
		100% {
			transform: scale(1);
		}
	}

	@keyframes slide {
		0% {
			transform: translate(0, 0);
		}
		100% {
			transform: translate(24px, 0);
		}
	}

	@keyframes shrink {
		0% {
			transform: scale(1);
		}
		100% {
			transform: scale(0);
		}
	}
</style>
