<script>
	export let link;
	export let title;
</script>

<a href={link}>
	<div>
		<h2>{title}</h2>
	</div>
</a>

<style>
	h2 {
		@apply tablet:text-xl fourK:text-3xl text-center;
	}

	div {
		@apply w-50 fourK:w-100 p-4 border-gray border-2 rounded mx-auto;
	}

	:global(.dark) div {
		@apply border-grey;
	}
</style>
