<script>
  import Broken from '../icons/Broken.svelte';
	import Die from './Die.svelte';
	import Weapon from '../icons/Weapon.svelte';

  export let id;

  let value;
</script>

<Die bind:value bind:id>
  <Weapon slot="1" />
  <Weapon slot="2" />
  <Weapon slot="3" />
  <Broken slot="4" />
  <Weapon slot="5" />
  <Weapon slot="6" />
</Die>
