<script>
  import Bag from '../icons/Bag.svelte';
	import Coin from '../icons/Coin.svelte';
	import Coins from '../icons/Coins.svelte';
	import Die from './Die.svelte';
	import Potion from '../icons/Potion.svelte';
	import Shard from '../icons/Shard.svelte';
	import Trap from '../icons/Trap.svelte';

  export let id;

  let value;
</script>

<Die bind:value bind:id>
  <Coin slot="1" />
  <Coins slot="2" />
  <Bag slot="3" />
  <Coin slot="4" />
  <Coins slot="5" />
  <Bag slot="6" />
</Die>
