<script>
  import { draggable } from '@neodrag/svelte';

  const rotations = [
    [360, 720, 360],
    [360, 630, 360],
    [360, 900, 360],
    [360, 810, 360],
    [270, 720, 360],
    [450, 720, 360]
  ];

  const sides = [1, 2, 6, 5, 4, 3];

  const options = {
    bounds: 'parent'
  };

  export let id;
  export let value = 1;

  let side = 0, reroll = 1, duration = 1.5;

  function roll() {
    side = Math.floor(Math.random() * 6);
    reroll *= -1;
    duration = 1 + (Math.floor(Math.random() * 100) / 100);
    value = sides[side];
  }
</script>

<div use:draggable={options} on:click={roll}>
	<div style="--duration: {duration}s; --tw-rotate-x: {reroll * rotations[side][0]}deg; --tw-rotate-y: {reroll * rotations[side][1]}deg; --tw-rotate-z: {reroll * rotations[side][2]}deg;">
	  <span><slot name="1">1</slot></span>
	  <span><slot name="2">2</slot></span>
	  <span><slot name="6">6</slot></span>
	  <span><slot name="5">5</slot></span>
	  <span><slot name="4">4</slot></span>
	  <span><slot name="3">3</slot></span>
	</div>
</div>

<style>
  div {
    @apply relative h-24 w-24 transform-gpu -translate-z-12 preserve-3d transition-all ease-out;
    transition-duration: var(--duration);
  }

  span {
    @apply absolute block h-24 w-24 leading-24 text-4xl text-center bg-smoke border-2 border-gray border-solid;
  }

  :global(.dark) span {
    @apply bg-soot border-grey;
  }

  span:nth-of-type(1) {
    transform: translateZ(3rem);
  }

  span:nth-of-type(2) {
    transform: rotate3d(0, 1, 0, 90deg) translateZ(3rem);
  }

  span:nth-of-type(3) {
    transform: rotate3d(0, 1, 0, 180deg) translateZ(3rem);
  }

  span:nth-of-type(4) {
    transform: rotate3d(0, -1, 0, 90deg) translateZ(3rem);
  }

  span:nth-of-type(5) {
    transform: rotate3d(1, 0, 0, 90deg) translateZ(3rem);
  }

  span:nth-of-type(6) {
    transform: rotate3d(-1, 0, 0, 90deg) translateZ(3rem);
  }
</style>
