<script>
  import Chest from '../icons/Chest.svelte';
	import Die from './Die.svelte';
	import Key from '../icons/Key.svelte';
	import Monster from '../icons/Monster.svelte';
	import Rune from '../icons/Rune.svelte';
	import Trap from '../icons/Trap.svelte';
	import Weapon from '../icons/Weapon.svelte';

  export let id;

  let value;
</script>

<Die bind:value bind:id>
  <Rune slot="1" />
  <Monster slot="2" />
  <Key slot="3" />
  <Weapon slot="4" />
  <Chest slot="5" />
  <Trap slot="6" />
</Die>
