<script>
  import { game } from '$lib/client/games/runes-and-ruins/game.js';
  import { PIECES } from '$lib/client/games/runes-and-ruins/constants.js';
  import Bag from '../icons/Bag.svelte';
	import Coin from '../icons/Coin.svelte';
	import Coins from '../icons/Coins.svelte';
	import Die from './Die.svelte';
	import Potion from '../icons/Potion.svelte';
	import Rune from '../icons/Rune.svelte';
	import Shard from '../icons/Shard.svelte';
	import Trap from '../icons/Trap.svelte';

  export let id;

  let value;


  $: if (value == 6) {
    $game.pieces.mask |= $game.pieces.order[$game.pieces.collected];
    console.log($game.pieces.mask)
    $game.pieces.collected++;
  }
</script>

<Die bind:value bind:id>
  <Trap slot="1" />
  <Coin slot="2" />
  <Coins slot="3" />
  <Bag slot="4" />
  <Potion slot="5" />
  <svelte:component this={$game.pieces.mask == PIECES.COMPLETE ? Rune : Shard} slot="6" />
</Die>
