<script>
	import { theme, motion } from '$lib/client/preferences.js';

	let terminal, command;
	let log = [
		{
			id: 1,
			text: '',
			input: true
		}
	];
	let toggled = false;

	function submitCommand() {
		if (event.key == 'Enter') {
			event.preventDefault();
			command = event.srcElement.innerText.split(' ');
			setTimeout(() => (terminal.scrollTop = terminal.scrollHeight), 0);

			if (command[0] == 'help') {
				if (command[1] == 'dm') {
					output(
						'This command adjusts your chosen theme. When called without options it defaults to the t option.'
					);
					output('List of options:');
					output('-- t: toggle the theme');
					output('-- r: reset the theme to browser preferences');
				} else if (command[1] == 'm') {
					output(
						'This command adjusts your chosen motion preferences. When called without options it defaults to the t option.'
					);
					output('List of options:');
					output('-- t: toggle the theme');
					output('-- r: reset the theme to browser preferences');
				} else {
					output('List of commands:');
					output('-- dm: adjust theme');
					output('-- m: adjust motion preferences');
				}
			} else if (command[0] == 'dm') {
				if (command.length > 1 && command[1] == 'r') {
					theme.reset();
					output(`Theme reset to ${$theme}.`);
				} else if (command.length == 1 || command[1] == 't') {
					theme.toggle();
					output(`Theme set to ${$theme}.`);
				} else {
					output('Invalid option! Use help dm for a list of options.');
				}
			} else if (command[0] == 'm') {
				if (command.length > 1 && command[1] == 'r') {
					motion.reset();
					output(`Reduce motion reset to ${!$motion}.`);
				} else if (command.length == 1 || command[1] == 't') {
					motion.toggle();
					output(`Reduce motion set to ${!$motion}.`);
				} else {
					output('Invalid option! Use help m for a list of options.');
				}
			} else {
				output('Invalid command! Use help for a list of commands.');
			}

			log = [
				...log,
				{
					id: log.length + 1,
					text: '',
					input: true
				}
			];
		}
	}

	function output(text) {
		log = [
			...log,
			{
				id: log.length + 1,
				text,
				input: false
			}
		];
	}

	function exit(event) {
		if (event.key == 'Escape') toggled = !toggled;
	}
</script>

<button tabindex="-1" accesskey="~" on:click={e => (toggled = !toggled)}>
	Toggle Console
</button>

{#if toggled}
	<div bind:this={terminal} on:keydown={exit}>
		{#each log as entry (entry.id)}
			<p
				class:input={entry.input}
				autofocus={entry.id == log.length}
				contenteditable={entry.id == log.length}
				on:keydown={submitCommand}>
				{entry.text}
			</p>
		{/each}
	</div>
{/if}

<style>
	div {
		@apply absolute scrollbar-hidden overflow-y-scroll bg-black text-white w-screen
           h-screen z-1000 opacity-80 p-16;
	}

	:global(.dark) div {
		@apply bg-white text-black;
	}

	button {
		@apply sr-only;
	}

	p {
		@apply relative my-2 text-lg font-bold caret-white outline-none pl-6;
	}

	:global(.dark) p {
		@apply caret-black;
	}

	.input {
		@apply before:(content-~~ absolute left-0);
	}
</style>
